@media all and (max-width: 500px){
	
	* {
	    max-width: 480px;
	    width: 100%;
	}
	#wrapper, {
	    min-width: 320px;
	}
	
	.slidesContainer{
	    height: 100% !important;
	    min-height: 450px;
	    min-width: 320px !important;
	    width: 100% !important;
	    top: 0px;
	    text-align: center;
	    padding: 5px;
	    
	
	}
	
	#slide1 h1,#slide1 h2, #slide1 ul{
	    width:100%;
	    margin-top: 0px;
	    
	}
	#slide2 .navButton{
		background-color: #9084c9;
	}
	#slide2 div:first-of-type{
	    width: 70%;
	    top: 20%;
	}
	
	#slide3 .clipboard{
	    background-size: 65%;
	    
	}
	
	#slide3 p{
	 width: 50%   
	}
	#slide3 p:first-of-type{
	    padding-top: 60px;
	    text-align: left;
	    
	}
	 #slide4 .clipboard, #slide5 .clipboard, #slide6 .clipboard{
	    background-size: 95%;
	    bottom: 20px;
	    position: relative;   
	     
	 }
	 #slide6 .clipboard p, #slide6 .clipboard h1, #slide6 .clipboard h2, #slide5 .clipboard p, #slide5 .clipboard h1, #slide5 .clipboard h2, #slide4 .clipboard p, #slide4 .clipboard h1, #slide4 .clipboard h2, table {
	     width: 70%;
	     
	 }
	#slide5 p{
	    padding: 0px;
	}
	#slide4 table td, #slide6 table td {
	    padding: 2px;
	}
	.navButton{
	    bottom: 0%;
	    width: 80px;
	}
	
	.dialog{
	    top: auto;
	    bottom: 20%;
	    left:20%;    
	}
}

