html {
	@extend .noise;
}

body {
	font-family: "Quicksand";
	font-size: 1rem;
	font-weight: 300;
	margin: 0.5rem auto;
	width: 100%;
}

a {
	text-decoration: none;
}

.page {
	transition-property: border, border-radius, box-shadow, -webkit-box-shadow;
	transition-duration: 0.5s;
	-webkit-transition-property: border, border-radius, box-shadow, -webkit-box-shadow;
	-webkit-transition-duration: 0.5s;
	@include noise;


}

.page_title {
	margin-top: 1rem;
	font: normal normal 200 8rem "Comfortaa", "Helvetica-Neue", Arial, sans-serif;
	text-align: center;
}

.smile {
	@include transform(rotate(90deg));
}

.page_header {
	margin: auto;
}

.flexy {
	@include displayflex;
}

#centeringDiv {
	margin: auto;
	overflow: visible;
	width: 100%;
	@include align-items(stretch);
	@include align-self(stretch);
	@include displayflex;
	@include justify-content(space-around);
	@include flex-direction(row);
	@include align-items(stretch);
	a {
		@include align-items(center);
		@include justify-content(center);
		@include displayflex;
		@include flex(1);
		p {
			margin: auto;
		}
	}
}

@media all and (min-width: 1025px) {
	.page {
		background-color: #fff;
		border: solid 5px #7be5e5;
		border-radius: 20px 20px 20px 20px;
		box-shadow: 10px 15px 45px -5px #400339;
		margin: auto;
		max-width: 1300px;
		min-width: 1025px;
		-webkit-box-shadow: 10px 15px 45px -5px #400339;
	}
	.page_title {
		color: #444;
		font-size: 10rem;
		margin-top: 3rem;
	}
}

@media all and (min-width: 768px) and (max-width: 1024px) {
	.page_title {
		color: #333;
	}
}

@media all and (max-width: 767px) {
	.page_title {
		color: #222;
		font-size: 3rem;
	}
}
