html {
	@extend .noise;
}

body {
	background: #fefeff;
	font-family: "Quicksand";
	font-size: 1em;
	font-weight: 300;
	width: 100%;
}

a {
	text-decoration: none;
}

#IEroot {
	color: #aaa;
	font-size: 0.75em;
	a {
		color: #5dc6f2;
	}
}

header {
	margin: auto;
	h1 {
		font: normal normal 200 80px "Comfortaa", "Helvetica-Neue", Arial, sans-serif;
		text-align: center;
	}
}

.flexy {
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: -o-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

#portfolio {
	margin: auto;
	width: 100%;
}

#galleryDiv {
	display: -webkit-flex;
	flex-direction: row;
	behavior: url(/PIE.php);
	img {
		height: auto;
		min-width: 100px;
	}
}

#centeringDiv {
	$w-flex-flow: row nowrap;
	$w-align-self: stretch;
	align-items: stretch;
	align-self: stretch;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
	overflow: visible;
	width: 100%;
	-webkit-justify-content: space-around;
	-webkit-align-items: stretch;
	a {
		align-items: center;
		display: -webkit-flex;
		display: flex;
		flex: 1;
		justify-content: center;
		-webkit-align-items: center;
		-webkit-flex: 1;
		-webkit-justify-content: center;
		behavior: url(/PIE.php);
		p {
			margin: auto;
		}
	}
}

#galleryDiv img, #galleryDiv a {
	position: relative;
	@include transition(all 1s);
}

#galleryDiv img:hover, #galleryDIv a:hover {
	transform: scale(1.3);
	z-index: 9000;
	@include transition(all 1s);
}
