.no-flexbox{
	.portfolioContent{
		min-width:1015px;
		width:90%;
		margin:auto;
		overflow:visible;
	}
	#galleryDiv{
		width: 100%;
		display:table;
		>a {
			border:none;
			font-size: 1em;
			text-align: center;
			margin:auto;
			vertical-align:middle;
			display:table-cell !important;
		}
		img{
			max-height: 200px;
			max-width: 315px;
			min-width:100px;
		}
	}
	#centeringDiv {
	 	margin: auto;
		text-align: justify;
		
		&:after {
		    content: " ";
		    display: inline-block;
		    width: 100%;
		}
		> a {
		border:none;
		font-size: 1em;
		text-align: center;
		display:inline-table;
		}
	}
	.workTypesSelected, .workTypes{
		display:table;
		p{
			display:table-cell;
		}
	}
	.flexy{
		
	}
	footer {
		width:50%;
		margin:auto;
		min-width:620px;
		> div:after {
		    content: " ";
		    display: inline-block;
		    width: 100%;
		}
		> div {
		    margin: 0;
		    min-height: 100%;
		    text-align: justify;
			a{
				 display: inline-table;
				 white-space: normal;
				height: 75px;
				width: 75px;
				div{
					display: table-cell;
		    			text-align: center;
		    			vertical-align: middle;
				}
			}
		}
	}
}