

.no-flexbox {
	#centeringDiv, .gallery {
		transition-delay: 0s;
		transition-duration: 0.25s;
		transition-property: border, border-radius, box-shadow, -webkit-box-shadow, width, height, display, color, background-color;
		-webkit-transition-property: border, border-radius, box-shadow, -webkit-box-shadow, width, height, display, color, background-color;
		-webkit-transition-duration: 0.25s;
		-webkit-transition-delay: 0s;
	}
	.gallery {
		padding-top: 30px;
	}
	.portfolioContent {
		min-width: 1015px;
		width: 90%;
	}
	#centeringDiv {
		min-width: 1010px;
		div {
			max-height: 200px;
			max-width: 200px;
		}
		> a {
			.workTypesSelected, .workTypes {
				border: 3px solid #7be5e5;
				//border-radius: 50px;
				border-radius: 25%;
				height: 200px;
				width: 200px;
			}
		}
	}
}
