
#ui-lightbox-bottombar {
	height: 0;
	margin-top: 0;
	overflow: visible;
	position: relative;
	z-index: 200;
}

#ui-lightbox-bottombar > #ui-lightbox-title-wrapper {
	font-size: 20px;
	height: auto;
	line-height: 20px;
	margin: auto;
	overflow: visible;
	z-index: 999;
}

#ui-lightbox-title {
	background-color: #e2e2e2;
	color: black;
	line-height: 40px;
	margin-left: 1px;
	margin-right: 1px;
	min-width: 300px;
	padding: 3% 10%;
	position: relative;
	text-align: center;
}

#ui-lightbox-button-prev, #ui-lightbox-button-next, #ui-lightbox-button-close, #ui-description {
	background-color: #e2e2e2;
	border: 1px solid gray;
	border-radius: 10px;
	display: inline-block;
	font-size: 20px;
	line-height: 20px;
	overflow: visible;
	padding: 5px 15px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	z-index: 300;
	behavior: url(/PIE.php);
}

#ui-lightbox-button-prev {
	left: 5%;
	top: 50%;
}

#ui-lightbox-button-next {
	right: 5%;
	top: 50%;
}

#ui-description {
	left: 40%;
	top: 50%;
}

#ui-lightbox-button-close {
	padding: 5px 15px;
	right: 5%;
	top: 17px;
}

#sb-wrapper {
	top: 0;
}
