.no-flexbox {
	#centeringDiv, .gallery {
		transition-delay: 2s;
		transition-duration: 0.25s;
		transition-property: border, border-radius, box-shadow, -webkit-box-shadow, width, height, display, color, background-color;
		-webkit-transition-property: border, border-radius, box-shadow, -webkit-box-shadow, width, height, display, color, background-color;
		-webkit-transition-duration: 0.25s;
		-webkit-transition-delay: 2s;
	}
	.portfolioContent {
		min-width: 800px;
		width: 90%;
	}
	.gallery{
		padding-top: 30px;
	}
	#centeringDiv {
		min-width: 800px;
		div {
			max-height: 150px;
			max-width: 150px;
		}
		> a {
			.workTypesSelected, .workTypes {
				border: 2px solid #7be5e5;
				border-radius: 25%;
				height: 150px;
				transition-duration: 2s;
				transition-property: border, border-radius, box-shadow, -webkit-box-shadow, width, height, display, color, background-color;
				width: 150px;
				-webkit-transition-property: border, border-radius, box-shadow, -webkit-box-shadow, width, height, display, color, background-color;
				-webkit-transition-duration: 2s;
			}
		}
	}
	.page_footer {
		min-width: 620px;
	}
}