
@media all and (min-width: 1025px) {
        @import "large";
}
@media all and (min-width: 768px) and (max-width: 1024px){
        @import "medium";
}
@media all and (max-width: 767px){
        @import "small";
}
/* transitions: */
#page{
	transition-property: border, border-radius, box-shadow, -webkit-box-shadow;
	transition-duration:0.5s;
	-webkit-transition-property: border, border-radius, box-shadow, -webkit-box-shadow;
	-webkit-transition-duration:0.5s;
}
