.no-flexbox {
	#centeringDiv, .gallery {
		min-width: 240px;
		width: 90%;
	}
	.gallery {
		display: table;
		a {
			display: table;
			margin: auto;
			img {
				clear: both;
				float: left;
			}
		}
	}
	.portfolioContent {
		min-width: 260px;
		width: 90%;
	}
	#centeringDiv {
		> a {
			display: table;
			margin: 10px auto;
			.workTypesSelected, .workTypes {
				background: #fff;
				border: 2px solid #7be5e5;
				border-radius: 20px;
				height: 75px;
				max-width: 450px;
				min-width: 220px;
				width: 90%;
			}
		}
	}
	.page_footer {
		min-width: 240px;
		padding: 0;
		width: 80%;
		> div a {
			border-radius: 15px;
			display: table;
			height: 30px;
			margin: 5px auto;
			width: 50%;
		}
	}
}
