/*Code + Design + everything else by Andrew Luhring @ bisforbounce.com*/
@import "base";
@import "failsafe";
@import "defaults";

@Include "gallery";
@import "responsive";
@import "lightbox";
@import "buttons";

//dont forget these:
.no-flexbox .gallery {
	display: table;
	width: 100%;
	.flexy {
		display: table;
	}
}

.navHint {
	background: transparent;
	margin-left: -30px;
	padding: 15px 0 15px 0;
	position: absolute;
	width: 200px;
	z-index: 999;
	p {
		margin: 0;
		text-align: center;
	}
}

.gallery > div:last-of-type {
	margin: auto;
	text-align: center;
}

.cf {
	overflow: hidden;
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.unhide {
	opacity: 1;
}

.hidden {
	opacity: 0;
}

.hide {
	display: none;
	opacity: 0;
	overflow: hidden;
	position: relative;
}

.no-js .hide {
	display: inherit;
	opacity: 1;
	overflow: visible;
}

.no-js .hidden {
	opacity: 1;
}

a {
	color: #55d;
}

@import "experiments";
@import "jsdoc";