/*Code + Design + everything else by Andrew Luhring @ bisforbounce.com*/
@import "base";
@import "failsafe";
@import "defaults";
@import "responsive";
@import "lightbox";
@import "buttons";
//dont forget these:
.no-flexbox #galleryDiv {
	width: 100%;
	display: table; }

.no-flexbox #galleryDiv.flexy {
	display: table !important; }

.navHint {
	position: absolute;
	width: 200px;
	z-index: 999;
	background: transparent;
	padding: 15px 0px 15px 0px;
	margin-left: -30px;
	behavior: url(/PIE.php);
}

.navHint p {
	text-align: center;
	margin: 0;
}

#galleryDiv > div:last-of-type {
	margin: auto;
	text-align: center;
}

.cf {
	overflow: hidden;
}

.cf:before, .cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

.unhide {
	opacity: 1;
}

.hidden {
	opacity: 0;
}

.hide {
	display: none !important;
	overflow: hidden;
	opacity: 0;
	position: relative;
}

.no-js .hide {
	display: inherit;
	overflow: visible;
	opacity: 1;
}

.no-js .hidden {
	opacity: 1;
}

a {
	color: #55D;
}
#galleryDiv img:hover, #galleryDiv img {
	@include transition(all 1s);
}
#galleryDIv img:hover {
	@include transform(scale(1.5));
}