article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  -webkit-padding-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  -webkit-padding-after: 0px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
  font-size: 1rem; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  -webkit-padding-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  -webkit-padding-after: 0px; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, input, legend, button, input {
  padding: 0;
  border: none;
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  -webkit-padding-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  -webkit-padding-after: 0px;
  min-width: -webkit-min-content; }

input, button {
  margin: 0;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: start; }

legend {
  display: block;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  border: none; }

form {
  display: block;
  margin-top: 0; }

button, input[type="reset"], input[type="button"], input[type="submit"] {
  -moz-binding: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  line-height: inherit;
  box-sizing: border-box;
  background-color: none;
  border: none;
  padding: 0;
  text-align: center; }

progress {
  box-sizing: border-box;
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1rem; }

main[role="main"], #test {
  margin: 20px auto;
  background: #f5f5f5;
  padding: 30px 0;
  width: 500px; }
  main[role="main"] > header, #test > header {
    text-align: center; }

form.loginform, form.specificity {
  background: #232323;
  width: 500px;
  position: relative; }

form.loginform,
fieldset.credentials,
fieldset.specificity,
button.loginform {
  margin: auto;
  display: block; }

fieldset.credentials, fieldset.specificity {
  font: normal normal normal 12px "Arial", sans-serif;
  position: relative; }

legend.specificity {
  font-size: 16px; }

.specificity {
  margin-bottom: 15px; }

form.specificity {
  padding: 5px 0;
  margin-bottom: 30px; }

form > fieldset.loginform legend,
button.loginform {
  color: #e8e8e8; }

fieldset.loginform,
.credentials-input,
.specificity-input,
button.loginform {
  width: 300px; }

.credentials > input, .specificity > input {
  margin-bottom: 10px;
  display: block;
  background: #e8e8e8; }

.credentials > input {
  margin-bottom: 0; }

.credentials > input, button.loginform {
  border-radius: 2px; }

.specificity label, .credentials label {
  position: absolute;
  right: 0; }

label.specificity-input {
  float: left;
  width: 50%;
  position: relative; }

input.specificity-input {
  float: left;
  width: 10%;
  position: relative; }

.credentials label {
  display: none;
  width: 300px; }

.lte-ie9 .credentials label {
  display: inline; }

div.specificity-input {
  display: inline-table;
  margin: 20px 0px; }

.specificity label, .specificity input {
  color: #e8e8e8;
  display: table-cell;
  vertical-align: middle;
  font-size: 15px;
  line-height: 15px; }

button.loginform {
  background: #db4a39; }

legend.credentials {
  font-size: 12px; }

.word {
  border: 2px solid black;
  background: #ddd; }

hr {
  opacity: 0.0; }

.credentials-requirement {
  margin: 40px auto; }

form.loginform.reality {
  padding: 38px 0px;
  background-color: #333; }

legend.credentials.reality {
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  letter-spacing: 0.7px;
  padding-bottom: 22px; }

fieldset.loginform.reality {
  width: 372px; }

.credentials-input.reality, .specificity-input.reality {
  width: 350px; }

input.credentials-input.reality {
  height: 39px;
  margin-bottom: 20px;
  border: 2px solid black;
  padding-left: 18px;
  border-radius: 5px; }

input.credentials-input.reality:focus, button.loginform.reality:focus {
  outline: none; }

button.loginform.reality {
  height: 44px;
  width: 368px;
  font-size: 15px;
  background-color: #CD5C45;
  box-shadow: 1px 1px 3px 1px #1E1E1E; }

.lte-ie9 button.loginform.reality {
  margin-left: 75px;
  width: 370px;
  margin-right: 0px; }
.lte-ie9 .credentials label.reality {
  line-height: 44px;
  left: 20px; }
.lte-ie9 .outdated-warning {
  margin: auto;
  width: 500px; }

@-webkit-keyframes animateCitation {
  0% {
    background: inherit;
    padding: inherit;
    border-radius: none;
    color: black;
    box-shadow: none; }

  50% {
    background: #6AE9DC;
    padding: 10px;
    border-radius: 2px;
    color: black;
    box-shadow: none; }

  75% {
    box-shadow: 0px 0px 4px 2px #333;
    color: black;
    padding: 11px; }

  100% {
    background: #6AE9DC;
    padding: 10px;
    border-radius: 2px;
    color: #FFF;
    box-shadow: 0px 0px 4px -1px #000; } }

@-moz-keyframes animateCitation {
  0% {
    background: inherit;
    padding: inherit;
    border-radius: none;
    color: black;
    box-shadow: none; }

  50% {
    background: #6AE9DC;
    padding: 10px;
    border-radius: 2px;
    color: black;
    box-shadow: none; }

  75% {
    box-shadow: 0px 0px 4px 2px #333;
    color: black;
    padding: 11px; }

  100% {
    background: #6AE9DC;
    padding: 10px;
    border-radius: 2px;
    color: #FFF;
    box-shadow: 0px 0px 4px -1px #000; } }

@-o-keyframes animateCitation {
  0% {
    background: inherit;
    padding: inherit;
    border-radius: none;
    color: black;
    box-shadow: none; }

  50% {
    background: #6AE9DC;
    padding: 10px;
    border-radius: 2px;
    color: black;
    box-shadow: none; }

  75% {
    box-shadow: 0px 0px 4px 2px #333;
    color: black;
    padding: 11px; }

  100% {
    background: #6AE9DC;
    padding: 10px;
    border-radius: 2px;
    color: #FFF;
    box-shadow: 0px 0px 4px -1px #000; } }

@keyframes animateCitation {
  0% {
    background: inherit;
    padding: inherit;
    border-radius: none;
    color: black;
    box-shadow: none; }

  50% {
    background: #6AE9DC;
    padding: 10px;
    border-radius: 2px;
    color: black;
    box-shadow: none; }

  75% {
    box-shadow: 0px 0px 4px 2px #333;
    color: black;
    padding: 11px; }

  100% {
    background: #6AE9DC;
    padding: 10px;
    border-radius: 2px;
    color: #FFF;
    box-shadow: 0px 0px 4px -1px #000; } }

@-webkit-keyframes bs-down {
  0% {
    box-shadow: 0px 0px 4px -1px #000;
    background: #6AE9DC;
    padding: 10px;
    border-radius: 2px;
    color: #FFF; }

  100% {
    box-shadow: 0px 0px 0px 0px #000;
    background: #6AE9DC;
    padding: 10px;
    border-radius: 2px;
    color: #FFF; } }

@-moz-keyframes bs-down {
  0% {
    box-shadow: 0px 0px 4px -1px #000;
    background: #6AE9DC;
    padding: 10px;
    border-radius: 2px;
    color: #FFF; }

  100% {
    box-shadow: 0px 0px 0px 0px #000;
    background: #6AE9DC;
    padding: 10px;
    border-radius: 2px;
    color: #FFF; } }

@-o-keyframes bs-down {
  0% {
    box-shadow: 0px 0px 4px -1px #000;
    background: #6AE9DC;
    padding: 10px;
    border-radius: 2px;
    color: #FFF; }

  100% {
    box-shadow: 0px 0px 0px 0px #000;
    background: #6AE9DC;
    padding: 10px;
    border-radius: 2px;
    color: #FFF; } }

@keyframes bs-down {
  0% {
    box-shadow: 0px 0px 4px -1px #000;
    background: #6AE9DC;
    padding: 10px;
    border-radius: 2px;
    color: #FFF; }

  100% {
    box-shadow: 0px 0px 0px 0px #000;
    background: #6AE9DC;
    padding: 10px;
    border-radius: 2px;
    color: #FFF; } }

.spec {
  font-style: normal;
  -webkit-animation: animateCitation 2s;
  -moz-animation: animateCitation 2s;
  animation: animateCitation 2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }
  .spec:hover {
    cursor: pointer; }

.noscript {
  margin: auto;
  width: 500px;
  text-align: center; }

.noscript-formChoice-header {
  margin: 20px auto; }

.no-js.lte-ie9 .credentials label {
  display: block;
  position: relative;
  color: #e8e8e8;
  text-align: left; }

.hide {
  opacity: 0.0;
  position: absolute; }

.none {
  display: none; }

.lte-ie9 .credentials label > label {
  display: inline; }

.error {
  outline: 3px solid #dc3c00 !important; }

.valid {
  outline: 2px solid #0088cc; }
