{{! Meta }}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Andrew's Epic Portfolio</title>


<link href='http://fonts.googleapis.com/css?family=Quicksand:300|Comfortaa:300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="lib/modern_medq.js"></script>
<script type="text/javascript" src="lib/jqjqui.js"></script>

<link type="text/css" rel="stylesheet" href="lib/shadowbox/shadowbox.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />

<!--[if lt IE 8]><style>/*For IE < 8 (trigger hasLayout) */ .clearfix{ zoom:1; }</style><![endif]-->

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-20023210-1']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
</script>