<ul class="hide">
	<li>
		<a href="portfolio/designs/bounceLinesbcropped.png" title="" id="illustratorGlitch" class="logoDesign lb_gal" ></a>
	</li>
	<li>
		<a href="portfolio/designs/ACslater.png" title="" id="slaterLink" class="logoDesign lb_gal" ></a>
	</li>
	<li>
		<a href="portfolio/designs/deadmau5.gif" title="" id="deadmau5Link" class="logoDesign lb_gal" ></a>
	</li>
	<li>
		<a href="portfolio/designs/otterLineWork.gif" title="" id="otterLink" class="logoDesign lb_gal"></a>
	</li>
	<li>
		<a href="portfolio/designs/twitter.png" title="" id="twitter" class="logoDesign lb_gal" ></a>
	</li>
	<li>
		<a href="portfolio/designs/soundcloud.png" title="" id="soundcloud" class="logoDesign lb_gal" ></a>
	</li>
	<li>
		<a href="portfolio/designs/pdficonc.png" title="" id="pdf" class="logoDesign lb_gal"></a>
	</li>
	<li>
		<a href="portfolio/screenshots/hand.png" title="What's so special about this hand? The fact that it's constructed only with CSS3." id="hand" class="albumArt lb_gal"></a>
	</li>
	<li>
		<a href="portfolio/screenshots/truck.png" title="This is a truck made out of html and css. All the behaviors of the truck are controlled using angular. It's still in progress." id="truck" class="albumArt lb_gal"></a>
	</li>
	<li>
		<a href="portfolio/screenshots/temporaryPage.png" title="" id="tempLink" class="UX lb_gal"></a>
	</li>
	<li>
		<a href="portfolio/screenshots/plasticsurgeryresource.png" title="Migrated the content to a theme I remixed." id="plasticsurgeryresource" class="UX lb_gal"></a>
	</li>
	<li>
		<a href="portfolio/screenshots/corptax.png" title="Translated photoshop design to cross-browser/device friendly HTML5 & CSS3 code by hand." id="corptax" class="UX lb_gal"></a>
	</li>
	<li>
		<a href="portfolio/screenshots/milyli.png" id="milyli" title="Translated photoshop design to cross-browser/device friendly HTML5 & CSS3 code by hand." class="UX lb_gal"></a>
	</li>
	<li>
		<a href="portfolio/screenshots/quinn.png" title="All code by me, all designs not by me." id="quinn" class="UX lb_gal"></a>
	</li>
	<li>
		<a href="portfolio/screenshots/bobbys.png" title="HTML(5), CSS(3), JavaScript, jQuery by me but also made use of a jQ slider plugin." id="bobbys" class="UX lb_gal"></a>
	</li>
	<li>
		<a href="portfolio/screenshots/danaco.png" title="Prexisting website, had to build out a few new pages from scratch and build a more stable responsive design." id="danaco" class="UX lb_gal"></a>
	</li>
	<li>
		<a href="portfolio/resume/current/resume.png" title="My Resume" class="resume lb_gal"></a>
	</li>
	<li>
		<a href="portfolio/screenshots/boxybutton.png" title="Boxy Buttons" id="boxyButtons" class="other lb_gal"></a>
	</li>
	<li>
		<a href="portfolio/screenshots/jCuteMenu.png" title="A Cute jQuery Menu" id="cuteMenu" class="other lb_gal"></a>
	</li>
	<li>
		<a href="portfolio/screenshots/jqanimation.png" title="Animation" id="jqanimation" class="other lb_gal"></a>
	</li>
	<li>
		<a href="portfolio/screenshots/resize.png" title="Resize" id="resize" class="other lb_gal"></a>
	</li>
</ul>