<div id="page">
	<header>
		<h1> Andrew Luhring </h1>
	</header>
	<article id="portfolio" class="cf" >
		<div class="portfolioContent">
			<p id="hint">.</p>
			<div id="galleryDiv">
				<a href="" class="lb_gal" > <img id="largeGallery" src="" title="" class="gallery cf hide" /></a>
				<a href="" class="lb_gal" > <img id="largeGallery1" src="" title="" class="gallery cf hide" /></a>
				<a href="" class="lb_gal" > <img id="largeGallery2" src="" title="" class="gallery cf hide" /></a>
			</div>
			<div id="centeringDiv" class="cf">
				<a href="gallery.php">
					<div id="UX" class="workTypes failsafe">
						<p>Websites</p>
					</div>
				</a>
				<a href="gallery.php">
					<div id="other" class="workTypes failsafe">
						<p>Code</p>
					</div>
				</a>
				<a href="gallery.php">
					<div id="albumArt" class="workTypes failsafe">
						<p>Experiments</p>
					</div>
				</a>
				<a href="gallery.php">
					<div id="logoDesign" class="workTypes failsafe">
						<p>Designs</p>
					</div>
				</a>
			</div>
		</div>
	</article>
	<footer id="contact" class="cf">
		<div> <!--flex wrapper-->
			<a href="http://www.bisforbounce.com/contact/">
				<div>
					<p>Contact</p>
				</div>
			</a>

			<a href="https://www.github.com/andrew-luhring/epic-portfolio.git">
				<div>
					<p>Github</p>
				</div>
			</a>

			<a href="portfolio/resume/current/resume.pdf" class="resume">
				<div>
					<p>Résumé</p>
				</div>
			</a>
		</div>
	</footer>

</div>