<div id="page">
	<header>
		<h1 class="hidden"> Andrew Luhring </h1>
	</header>
	<article id="portfolio" class="cf hide" >
		<div class="portfolioContent">
			<p id="hint">.</p>
			<div id="galleryDiv">
				<a href="" class="lb_gal" > <img id="largeGallery" src="" title="" class="gallery cf hide" /></a>
				<a href="" class="lb_gal" > <img id="largeGallery1" src="" title="" class="gallery cf hide" /></a>
				<a href="" class="lb_gal" > <img id="largeGallery2" src="" title="" class="gallery cf hide" /></a>
			</div>
			<style>
				html{
					font-size: 62.5%;
				}
				body{
					font-size: 1.6rem;
				}
				#newCenteringDiv .ng-isolate-scope{
					align-items: stretch;
					display: flex;
					flex-direction: row;
					margin: auto auto 2rem;
					justify-content: space-around;
					align-items: stretch;
					align-self: stretch;
					overflow: visible;
				}
				#newCenteringDiv button, #aButtonYouShouldNotClick {
					align-items: center;
					outline: none;
					color: #55D;
					font-family: 'Quicksand' , sans-serif;
					flex: 1;
					justify-content: center;
					height: 20rem;
					margin: 3rem 2rem;
					font-size: 3.1rem;
					text-align: center;
				}
			</style>
			<div id="newCenteringDiv" ng-controller="Buttons">
				<werk work></werk>
			</div>
			<div id="centeringDiv" class="cf">
				<a href="gallery.php">
					<div id="UX" class="workTypes failsafe">
						<p>Websites</p>
					</div>
				</a>
				<a href="gallery.php">
					<div id="other" class="workTypes failsafe">
						<p>Code</p>
					</div>
				</a>
				<a href="gallery.php">
					<div id="albumArt" class="workTypes failsafe">
						<p>Experiments</p>
					</div>
				</a>
				<a href="gallery.php">
					<div id="logoDesign" class="workTypes failsafe">
						<p>Designs</p>
					</div>
				</a>
			</div>
		</div>
	</article>
	<footer id="contact" class="cf hide">
		<div> <!--flex wrapper-->
			<a href="http://www.bisforbounce.com/contact/">
				<div>
					<p>Contact</p>
				</div>
			</a>

			<a href="https://www.github.com/andrew-luhring/epic-portfolio.git">
				<div>
					<p>Github</p>
				</div>
			</a>

			<a href="portfolio/resume/current/resume.pdf" class="resume">
				<div>
					<p>Résumé</p>
				</div>
			</a>
		</div>
	</footer>

</div>