/* http://meyerweb.com/eric/tools/css/reset/
 v2.0b1 | 201101
 NOTE: WORK IN PROGRESS
 USE WITH CAUTION AND TEST WITH ABANDON */
/* line 5, sass/_jplayer.custom.css.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 15, sass/_jplayer.custom.css.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 18, sass/_jplayer.custom.css.scss */
body {
  line-height: 1;
}

/* line 21, sass/_jplayer.custom.css.scss */
ol, ul {
  list-style: none;
}

/* line 24, sass/_jplayer.custom.css.scss */
blockquote, q {
  quotes: none;
}

/* line 27, sass/_jplayer.custom.css.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles!
 :focus {
 outline: ?????;
 } */
/* remember to highlight inserts somehow! */
/* line 36, sass/_jplayer.custom.css.scss */
ins {
  text-decoration: none;
}

/* line 39, sass/_jplayer.custom.css.scss */
del {
  text-decoration: line-through;
}

/* line 42, sass/_jplayer.custom.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  THIS IS LILKEV CSS   */
/* line 57, sass/_jplayer.custom.css.scss */
p {
  text-indent: 20px;
}

/* line 60, sass/_jplayer.custom.css.scss */
h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: 900;
}

/* line 63, sass/_jplayer.custom.css.scss */
i, em {
  font-style: italic;
}

/* line 66, sass/_jplayer.custom.css.scss */
ul {
  list-style-type: disc;
}

/* line 69, sass/_jplayer.custom.css.scss */
ul li {
  margin: 5px 0 0 25px;
}

/* line 72, sass/_jplayer.custom.css.scss */
ul ul {
  list-style-type: circle;
}

/* line 75, sass/_jplayer.custom.css.scss */
ul ul li {
  margin: 5px 0 0 25px;
}

/* line 79, sass/_jplayer.custom.css.scss */
.button {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 89, sass/_jplayer.custom.css.scss */
.shadow {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.6);
}

/* line 92, sass/_jplayer.custom.css.scss */
.innerShadow {
  box-shadow: inset -1px -1px 3px 1px rgba(0, 0, 0, 0.4);
}

/* line 95, sass/_jplayer.custom.css.scss */
.hCenter, .vCenter, .center {
  position: absolute;
  padding: 0;
  margin: 0;
}

/* line 104, sass/_jplayer.custom.css.scss */
#lk-preloader {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
  background: #000000;
  height: 480px;
  width: 800px;
}

/* line 113, sass/_jplayer.custom.css.scss */
#lk-preloader img {
  position: absolute;
  top: 190px;
  left: 350px;
  z-index: 9999;
  background: #000000;
  height: 100px;
  width: 100px;
}

/* intro screen slide */
/* line 123, sass/_jplayer.custom.css.scss */
#lk-intro {
  height: 480px;
  width: 800px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  overflow: hidden;
}

/* intro screen begin button */
/* line 133, sass/_jplayer.custom.css.scss */
#lk-intro .begin {
  position: absolute;
  right: 0px;
  top: 350px;
  border-radius: 10px 0 0 10px;
  -moz-transition: all .5s ease;
}

/* line 140, sass/_jplayer.custom.css.scss */
#lk-intro .begin:hover {
  box-shadow: 0 0 12px 3px rgba(255, 255, 255, 0.8);
  -moz-transition: all .5s ease;
}

/* intro screen colored title bar in middle of screen */
/* line 145, sass/_jplayer.custom.css.scss */
#lk-intro .redBar {
  position: absolute;
  left: 0px;
  top: 150px;
  background: url("https://lmscontent.embanet.com/Multimedia/LK_Assets/skin/intro_default_bar.jpg") no-repeat;
  width: 470px;
  height: 100px;
  padding: 10px 20px 0 100px;
  color: #fff;
  text-shadow: -1px -1px #333;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.7);
  cursor: default;
  font: 900 36px "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-radius: 0 15px 15px 0;
}

/* line 160, sass/_jplayer.custom.css.scss */
#lk-intro .redBar span {
  text-align: left;
  float: right;
}

/* line 164, sass/_jplayer.custom.css.scss */
#lk-header {
  width: 785px;
  height: 22px;
  padding: 8px 0 0 15px;
  background: url("https://lmscontent.embanet.com/Multimedia/LK_Assets/skin/header.png") no-repeat;
  position: absolute;
  color: #fff;
  font: bold 14px Arial, Helvetica, sans-serif;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
  z-index: 998;
}

/* line 177, sass/_jplayer.custom.css.scss */
.slidesContainer {
  position: absolute;
  top: 30px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 420px;
  width: 800px;
}

/* line 186, sass/_jplayer.custom.css.scss */
.slide {
  width: 800px;
  height: 420px;
  position: absolute;
  top: 0px;
  overflow: hidden;
}

/* line 193, sass/_jplayer.custom.css.scss */
#lk-replay-box {
  position: absolute;
  width: 602px;
  padding: 15px 100px;
  height: 45px;
  top: 150px;
  left: -1px;
  border: 1px ridge #fff;
  text-align: center;
  color: #FFF;
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.7);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4), 0px -1px 0px rgba(0, 0, 0, 0.6);
  font-size: 20px;
}

/* line 207, sass/_jplayer.custom.css.scss */
#lk-replay-icon {
  width: 91px;
  height: 91px;
  position: absolute;
  left: 356px;
  top: 250px;
  background: url(btn-replay-back.png) no-repeat;
}

/* line 215, sass/_jplayer.custom.css.scss */
#lk-replay-icon:hover {
  animation: rotater 1s linear 0s 1;
  -webkit-animation: grow .75s ease-in 0s 1;
  -moz-animation: grow .75s ease-in 0s 1;
}

/* line 220, sass/_jplayer.custom.css.scss */
#lk-replay-spin {
  cursor: pointer;
}

/* line 223, sass/_jplayer.custom.css.scss */
#lk-replay-spin:hover {
  animation: rotater 1s linear 0s 1;
  -webkit-animation: rotater .75s ease-in 0s 1;
  -moz-animation: rotater .75s ease-in 0s 1;
}

/* line 228, sass/_jplayer.custom.css.scss */
.modal {
  z-index: 999;
}

/* line 231, sass/_jplayer.custom.css.scss */
.modalBG {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 420px;
  width: 800px;
  background: url(opacity-50.png) repeat;
  z-index: 998;
}

/* line 240, sass/_jplayer.custom.css.scss */
.lkAlert {
  cursor: pointer;
}

/* line 243, sass/_jplayer.custom.css.scss */
.lkAlert.modal {
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
}

/* line 250, sass/_jplayer.custom.css.scss */
.lkAlert.message {
  background: #EFEFEF;
  color: #000;
  font-size: 16px;
  width: 330px;
  padding: 10px;
  border: 1px solid #000;
  text-align: center;
  position: absolute;
  top: 150px;
  left: 225px;
  z-index: 1000;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* line 264, sass/_jplayer.custom.css.scss */
.lkAlert.message h3 {
  font-size: 24px;
  font-weight: bold;
  background: #CCC;
  margin: 0 0 5px;
}

/* line 271, sass/_jplayer.custom.css.scss */
#lk-balloon {
  position: absolute;
  z-index: 1000;
  padding: 5px;
  margin: 20px 0px;
  background: #fff;
  border: 2px solid #FFF;
  border-radius: 4px;
  color: #FFF;
  text-align: center;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.6);
}

/* line 284, sass/_jplayer.custom.css.scss */
#lk-balloon-arrow {
  position: absolute;
}

/* line 288, sass/_jplayer.custom.css.scss */
#lk-balloon-arrow.top-left {
  left: -20px;
  top: -20px;
}

/* line 292, sass/_jplayer.custom.css.scss */
#lk-balloon-arrow.top-mid {
  top: -18px;
}

/* line 295, sass/_jplayer.custom.css.scss */
#lk-balloon-arrow.top-right {
  right: -22px;
  top: -22px;
}

/* line 300, sass/_jplayer.custom.css.scss */
#lk-balloon-arrow.bot-left {
  left: -22px;
  bottom: -22px;
}

/* line 304, sass/_jplayer.custom.css.scss */
#lk-balloon-arrow.bot-mid {
  bottom: -18px;
}

/* line 307, sass/_jplayer.custom.css.scss */
#lk-balloon-arrow.bot-right {
  right: -24px;
  bottom: -24px;
}

/* line 312, sass/_jplayer.custom.css.scss */
#lk-hub-chart {
  position: absolute;
  left: 50px;
  bottom: 6px;
}

/* line 318, sass/_jplayer.custom.css.scss */
.lkhc {
  height: 8px;
  width: 8px;
  margin: 2px 2px 2px;
  border-radius: 100%;
  background: #b4b4b4;
  background: rgba(255, 255, 255, 0.6);
  float: left;
}

/* line 327, sass/_jplayer.custom.css.scss */
.lkhc.active {
  height: 10px;
  width: 10px;
  margin: 0px 2px 2px;
  background: white;
  background: white;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.6);
}

/* line 336, sass/_jplayer.custom.css.scss */
#lk-replay-box {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhhOGE4YiIgc3RvcC1vcGFjaXR5PSIwLjk4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iIzliOWI5YiIgc3RvcC1vcGFjaXR5PSIwLjk4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2EzYTNhMyIgc3RvcC1vcGFjaXR5PSIwLjk4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzliOWI5YiIgc3RvcC1vcGFjaXR5PSIwLjk4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YThhOGIiIHN0b3Atb3BhY2l0eT0iMC45OCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(138, 138, 139, 0.98) 0%, rgba(155, 155, 155, 0.98) 21%, rgba(163, 163, 163, 0.98) 50%, rgba(155, 155, 155, 0.98) 80%, rgba(138, 138, 139, 0.98) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(138, 138, 139, 0.98)), color-stop(21%, rgba(155, 155, 155, 0.98)), color-stop(50%, rgba(163, 163, 163, 0.98)), color-stop(80%, rgba(155, 155, 155, 0.98)), color-stop(100%, rgba(138, 138, 139, 0.98)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(138, 138, 139, 0.98) 0%, rgba(155, 155, 155, 0.98) 21%, rgba(163, 163, 163, 0.98) 50%, rgba(155, 155, 155, 0.98) 80%, rgba(138, 138, 139, 0.98) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(138, 138, 139, 0.98) 0%, rgba(155, 155, 155, 0.98) 21%, rgba(163, 163, 163, 0.98) 50%, rgba(155, 155, 155, 0.98) 80%, rgba(138, 138, 139, 0.98) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(138, 138, 139, 0.98) 0%, rgba(155, 155, 155, 0.98) 21%, rgba(163, 163, 163, 0.98) 50%, rgba(155, 155, 155, 0.98) 80%, rgba(138, 138, 139, 0.98) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(138, 138, 139, 0.98) 0%, rgba(155, 155, 155, 0.98) 21%, rgba(163, 163, 163, 0.98) 50%, rgba(155, 155, 155, 0.98) 80%, rgba(138, 138, 139, 0.98) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa8a8a8b', endColorstr='#fa8a8a8b', GradientType=0 );
  /* IE6-8 */
}

/*------------------------FOOTER & BUTTONS-----------------------------*/
/* line 347, sass/_jplayer.custom.css.scss */
#lk-footer {
  width: 800px;
  height: 30px;
  background: url("https://lmscontent.embanet.com/Multimedia/LK_Assets/skin/play_bar.png") no-repeat;
  position: absolute;
  top: 450px;
  left: 0;
}

/* line 355, sass/_jplayer.custom.css.scss */
#lk-footer .button {
  text-align: left;
}

/* line 358, sass/_jplayer.custom.css.scss */
.control {
  display: block;
  width: 45px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  top: -5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 370, sass/_jplayer.custom.css.scss */
.control .lk-control-container {
  width: 27px;
  height: 23px;
  position: absolute;
  top: 8px;
}

/* line 376, sass/_jplayer.custom.css.scss */
.control:hover img {
  background: url(control-hover.png) no-repeat;
}

/* line 379, sass/_jplayer.custom.css.scss */
#lk-btn-prev {
  left: 5px;
}

/* line 382, sass/_jplayer.custom.css.scss */
#lk-btn-next {
  right: 5px;
}

/* line 385, sass/_jplayer.custom.css.scss */
#lk-btn-next .lk-control-container {
  right: 0px;
}

/* line 388, sass/_jplayer.custom.css.scss */
#lk-btn-return {
  right: 5px;
  width: 70px;
}

/* line 392, sass/_jplayer.custom.css.scss */
#lk-btn-return .lk-control-container {
  width: 70px;
  height: 23px;
  position: absolute;
  top: 8px;
}

/* line 398, sass/_jplayer.custom.css.scss */
#lk-btn-return:hover img {
  background: url(return-hover.png) no-repeat;
}

/* line 401, sass/_jplayer.custom.css.scss */
#slideNumbers {
  position: absolute;
  top: 5px;
  left: 50px;
  color: #fff;
  font: 14px Verdana, Geneva, sans-serif;
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 413, sass/_jplayer.custom.css.scss */
#lk-footer img {
  position: absolute;
  cursor: pointer;
}

/* line 417, sass/_jplayer.custom.css.scss */
.captionBtn {
  left: 560px;
  top: 3px;
  z-index: 996;
}

/* line 422, sass/_jplayer.custom.css.scss */
.jp-audio {
  position: absolute;
  top: 0px;
  left: 140px;
  z-index: 995;
}

/* line 428, sass/_jplayer.custom.css.scss */
#lk-caption-box p {
  text-indent: 25px;
}

/* line 431, sass/_jplayer.custom.css.scss */
#lk-btn-caption {
  position: absolute;
  top: 4px;
  left: 560px;
  z-index: 998;
  width: 40px;
  height: 23px;
}

/* line 439, sass/_jplayer.custom.css.scss */
#lk-btn-caption:hover img {
  background: url(caption-hover.png) no-repeat;
}

/* line 442, sass/_jplayer.custom.css.scss */
#lk-caption-box {
  position: absolute;
  bottom: 30px;
  left: 147px;
  z-index: 998;
  width: 500px;
  padding: 5px;
  background: #fff;
  max-height: 60px;
  overflow: auto;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  border: 3px ridge #636363;
  border-bottom: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.6);
}

/*-------------------------VIDEO----------------------------*/
/* line 462, sass/_jplayer.custom.css.scss */
.videoSlide {
  background: #000;
  font-size: 0px;
}

/* line 466, sass/_jplayer.custom.css.scss */
.videoSlide iframe {
  height: 436px;
  width: 816px;
  margin: -8px 0 0 -8px;
}

/* line 471, sass/_jplayer.custom.css.scss */
.lk-video-controls-container {
  position: absolute;
  top: 0px;
  left: 140px;
  width: 520px;
  height: 30px;
  font-family: Verdana, Arial, sans-serif;
}

/* line 479, sass/_jplayer.custom.css.scss */
.video-control {
  position: absolute;
  top: 3px;
  width: 40px;
  height: 23px;
  border-radius: 5px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 491, sass/_jplayer.custom.css.scss */
.video-play, .video-pause {
  left: 0px;
  width: 46px;
}

/* line 495, sass/_jplayer.custom.css.scss */
.video-play:hover img {
  background: url(play-hover.png) no-repeat;
}

/* line 498, sass/_jplayer.custom.css.scss */
.video-pause:hover img {
  background: url(pause-hover.png) no-repeat;
}

/* line 501, sass/_jplayer.custom.css.scss */
.video-progress {
  background: url("https://lmscontent.embanet.com/Multimedia/LK_Assets/skin/progress_bar.png") repeat-x;
  width: 251px;
  height: 29px;
  overflow: hidden;
  position: absolute;
  left: 115px;
}

/* line 509, sass/_jplayer.custom.css.scss */
.video-play-bar {
  width: 0px;
  height: 100%;
  overflow: hidden;
}

/* line 514, sass/_jplayer.custom.css.scss */
.video-play-bar div {
  width: 100%;
  height: 5px;
  margin: 12px 0 0;
  overflow: hidden;
}

/* line 520, sass/_jplayer.custom.css.scss */
.video-volume-mute, .video-volume-unmute {
  left: 470px;
  z-index: 2;
}

/* line 524, sass/_jplayer.custom.css.scss */
.video-volume-mute:hover img {
  background: url(volume-hover.png) no-repeat;
}

/* line 527, sass/_jplayer.custom.css.scss */
.video-volume-unmute:hover img {
  background: url(volume-muted-hover.png) no-repeat;
}

/* line 530, sass/_jplayer.custom.css.scss */
.video-volume-slider-container {
  position: absolute;
  left: 474px;
  top: -105px;
  height: 105px;
  width: 30px;
  padding: 5px 0;
  background: #646464;
}

/* line 539, sass/_jplayer.custom.css.scss */
.video-volume-bar {
  position: relative;
  width: 6px;
  height: 100px;
  margin: 0 12px;
  background: #999;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  z-index: 3;
}

/* line 551, sass/_jplayer.custom.css.scss */
.video-volume-bar-value {
  position: absolute;
  bottom: 0;
  width: 6px;
  height: 100%;
  z-index: 3;
}

/* line 558, sass/_jplayer.custom.css.scss */
.video-current-time, .video-duration {
  width: 12px;
  font-size: 14px;
  color: #fff;
}

/* line 563, sass/_jplayer.custom.css.scss */
.video-current-time {
  position: absolute;
  top: 5px;
  left: 70px;
}

/* line 568, sass/_jplayer.custom.css.scss */
.video-duration {
  position: absolute;
  top: 5px;
  left: 370px;
}

/*------------------------AUDIO-----------------------------*/
/* line 574, sass/_jplayer.custom.css.scss */
.jp-type-single {
  width: 520px;
  height: 29px;
  z-index: 998;
  background: url(play_bar.png) no-repeat;
}

/* line 580, sass/_jplayer.custom.css.scss */
div.jp-audio, div.jp-video {
  font-size: 18px;
  font-family: Verdana, Arial, sans-serif;
  color: #fff;
  position: relative;
}

/* line 586, sass/_jplayer.custom.css.scss */
div.jp-audio {
  width: 520px;
  height: 30px;
}

/* line 590, sass/_jplayer.custom.css.scss */
div.jp-interface {
  position: relative;
  width: 100%;
  /* Required for the full screen */
}

/* @group single player controls */
/* line 595, sass/_jplayer.custom.css.scss */
ul.jp-controls {
  position: absolute;
  top: 3px;
  list-style-type: none;
}

/* line 600, sass/_jplayer.custom.css.scss */
ul.jp-controls li {
  margin: 0px;
}

/* line 603, sass/_jplayer.custom.css.scss */
.jp-controls li a {
  display: block;
  height: 23px;
  width: 46px;
}

/* line 608, sass/_jplayer.custom.css.scss */
.jp-play:hover img {
  background: url(play-hover.png) no-repeat;
}

/* line 611, sass/_jplayer.custom.css.scss */
.jp-pause:hover img {
  background: url(pause-hover.png) no-repeat;
}

/* The seeking class is added/removed inside jPlayer */
/* line 615, sass/_jplayer.custom.css.scss */
.jp-progress {
  background: url("https://lmscontent.embanet.com/Multimedia/LK_Assets/skin/progress_bar.png") repeat-x;
  width: 251px;
  height: 29px;
  overflow: hidden;
  position: absolute;
  left: 115px;
}

/* line 623, sass/_jplayer.custom.css.scss */
div.jp-video .jp-progress {
  border-top: 1px solid #180a1f;
  border-bottom: 1px solid #554560;
  width: 100%;
  background-image: none;
  padding: 0;
}

/* line 630, sass/_jplayer.custom.css.scss */
.jp-seek-bar {
  width: 0px;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  background: url("https://lmscontent.embanet.com/Multimedia/LK_Assets/skin/progress_bar.png") repeat-x;
}

/* line 637, sass/_jplayer.custom.css.scss */
.jp-play-bar {
  width: 0px;
  height: 100%;
  overflow: hidden;
}

/* line 642, sass/_jplayer.custom.css.scss */
.jp-play-bar div {
  width: 100%;
  height: 5px;
  margin: 12px 0 0;
  overflow: hidden;
}

/* @end */
/* @group current time and duration */
/* line 651, sass/_jplayer.custom.css.scss */
.jp-current-time, .jp-duration {
  width: 12px;
  font-size: 14px;
  color: #fff;
}

/* line 656, sass/_jplayer.custom.css.scss */
.jp-current-time {
  position: absolute;
  top: 5px;
  left: 70px;
}

/* line 661, sass/_jplayer.custom.css.scss */
.jp-duration {
  position: absolute;
  top: 5px;
  left: 370px;
}

/* @end */
/* line 668, sass/_jplayer.custom.css.scss */
div.jp-jplayer audio, div.jp-jplayer {
  width: 0px;
  height: 0px;
}

/* line 673, sass/_jplayer.custom.css.scss */
div.jp-audio a.jp-volume-max {
  width: 16px;
  height: 29px;
}

/* line 677, sass/_jplayer.custom.css.scss */
.jp-mute, .jp-unmute {
  position: absolute;
  top: 3px;
  left: 470px;
  z-index: 2;
  width: 40px;
  height: 23px;
}

/* line 685, sass/_jplayer.custom.css.scss */
.jp-mute:hover img {
  background: url(volume-hover.png) no-repeat;
}

/* line 688, sass/_jplayer.custom.css.scss */
.jp-unmute:hover img {
  background: url(volume-muted-hover.png) no-repeat;
}

/* line 691, sass/_jplayer.custom.css.scss */
.lk-volume-slider-container {
  position: absolute;
  left: 474px;
  top: -105px;
  height: 105px;
  width: 30px;
  padding: 5px 0;
  background: #646464;
}

/* line 700, sass/_jplayer.custom.css.scss */
.jp-volume-bar {
  position: relative;
  width: 6px;
  height: 100px;
  margin: 0 12px;
  background: #999;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  z-index: 3;
}

/* line 712, sass/_jplayer.custom.css.scss */
.jp-volume-bar-value {
  position: absolute;
  bottom: 0;
  width: 6px;
  height: 0px;
  z-index: 3;
}

/* line 720, sass/_jplayer.custom.css.scss */
.jp-no-solution {
  position: absolute;
  width: 390px;
  margin-left: -202px;
  left: 50%;
  top: 10px;
  padding: 5px;
  font-size: .8em;
  background-color: #3a2a45;
  border-top: 2px solid #554461;
  border-left: 2px solid #554461;
  border-right: 2px solid #180a1f;
  border-bottom: 2px solid #180a1f;
  color: #FFF;
  display: none;
}

/* line 736, sass/_jplayer.custom.css.scss */
.jp-no-solution a {
  color: #FFF;
}

/* line 739, sass/_jplayer.custom.css.scss */
.jp-no-solution span {
  font-size: 1em;
  display: block;
  text-align: center;
  font-weight: bold;
}

/* line 745, sass/_jplayer.custom.css.scss */
.jp-audio .jp-no-solution {
  width: 190px;
  margin-left: -102px;
}

/*------------------------ANIMATIONS-----------------------------*/
@keyframes rotater {
  /* line 751, sass/_jplayer.custom.css.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 754, sass/_jplayer.custom.css.scss */
  10% {
    -moz-transform: rotate(0deg);
  }

  /* line 757, sass/_jplayer.custom.css.scss */
  20% {
    -moz-transform: rotate(0deg);
  }

  /* line 760, sass/_jplayer.custom.css.scss */
  80% {
    -moz-transform: rotate(-360deg);
  }

  /* line 763, sass/_jplayer.custom.css.scss */
  90% {
    -moz-transform: rotate(-360deg);
  }

  /* line 766, sass/_jplayer.custom.css.scss */
  100% {
    -moz-transform: rotate(-360deg);
  }
}

@keyframes grow {
  /* line 770, sass/_jplayer.custom.css.scss */
  0% {
    -moz-transform: scale(1);
  }

  /* line 773, sass/_jplayer.custom.css.scss */
  5% {
    -moz-transform: scale(1.1);
  }

  /* line 776, sass/_jplayer.custom.css.scss */
  20% {
    -moz-transform: scale(1.1);
  }

  /* line 779, sass/_jplayer.custom.css.scss */
  80% {
    -moz-transform: scale(1.1);
  }

  /* line 782, sass/_jplayer.custom.css.scss */
  95% {
    -moz-transform: scale(1.1);
  }

  /* line 785, sass/_jplayer.custom.css.scss */
  100% {
    -moz-transform: scale(1);
  }
}

@-webkit-keyframes rotater {
  /* line 789, sass/_jplayer.custom.css.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 792, sass/_jplayer.custom.css.scss */
  10% {
    -webkit-transform: rotate(0deg);
  }

  /* line 795, sass/_jplayer.custom.css.scss */
  20% {
    -webkit-transform: rotate(0deg);
  }

  /* line 798, sass/_jplayer.custom.css.scss */
  80% {
    -webkit-transform: rotate(-360deg);
  }

  /* line 801, sass/_jplayer.custom.css.scss */
  90% {
    -webkit-transform: rotate(-360deg);
  }

  /* line 804, sass/_jplayer.custom.css.scss */
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@-webkit-keyframes grow {
  /* line 808, sass/_jplayer.custom.css.scss */
  0% {
    -webkit-transform: scale(1);
  }

  /* line 811, sass/_jplayer.custom.css.scss */
  5% {
    -webkit-transform: scale(1.1);
  }

  /* line 814, sass/_jplayer.custom.css.scss */
  20% {
    -webkit-transform: scale(1.1);
  }

  /* line 817, sass/_jplayer.custom.css.scss */
  80% {
    -webkit-transform: scale(1.1);
  }

  /* line 820, sass/_jplayer.custom.css.scss */
  95% {
    -webkit-transform: scale(1.1);
  }

  /* line 823, sass/_jplayer.custom.css.scss */
  100% {
    -webkit-transform: scale(1);
  }
}

/* line 1, sass/_custom.scss */
html {
  font-size: 16px;
  /*responsive font sizing using ems; setting baseline (avg dft brwsr fnt sz) */
}

/* line 4, sass/_custom.scss */
body {
  font: normal normal normal 62.5% "Arial", sans-serif;
  /* now 1em = 10px */
}

/* line 7, sass/_custom.scss */
li {
  list-style-type: none;
}

/* line 10, sass/_custom.scss */
p {
  text-indent: 0px;
}

/* line 13, sass/_custom.scss */
.slide {
  font: normal normal 200 1.6em "Helvetica Neue", Arial, sans-serif;
  /* target /context = result; 16px / 10px = 1.6em*/
  bottom: 0px;
  top: auto;
}

/* line 18, sass/_custom.scss */
#dialog {
  padding-top: 10px;
  height: 140px;
}

/* line 23, sass/_custom.scss */
.dialog {
  position: absolute !important;
  background-color: #f5f5f5;
  font: normal normal normal 1.5em "Helvetica Neue", Arial, sans-serif;
  padding: 10px;
  color: #111;
}
/* line 29, sass/_custom.scss */
.dialog .ui-dialog-titlebar {
  position: absolute;
  top: -1em;
  left: 0px;
  color: #000;
  width: 100%;
}
/* line 36, sass/_custom.scss */
.dialog a, .dialog a span {
  text-decoration: none;
  line-height: 1em;
  color: white;
  width: 100%;
  display: block;
}
/* line 43, sass/_custom.scss */
.dialog a {
  height: 181px;
  border: 2px solid black;
  width: 99%;
}
/* line 48, sass/_custom.scss */
.dialog a span {
  width: 97%;
  font: normal normal 100 1em "Helvetica Neue", Arial, sans-serif;
  padding: 3px 0px 4px 10px;
  background: #d2191a;
  background: -moz-linear-gradient(left, #d2191a 0%, #c90100 65%, #6e2020 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #d2191a), color-stop(65%, #c90100), color-stop(100%, #6e2020));
  background: -webkit-linear-gradient(left, #d2191a 0%, #c90100 65%, #6e2020 100%);
  background: -o-linear-gradient(left, #d2191a 0%, #c90100 65%, #6e2020 100%);
  background: -ms-linear-gradient(left, #d2191a 0%, #c90100 65%, #6e2020 100%);
  background: linear-gradient(to right, #d2191a 0%, #c90100 65%, #6e2020 100%);
}

/* line 63, sass/_custom.scss */
span#ui-dialog-title-dialog.ui-dialog-title {
  display: none;
}

/* line 66, sass/_custom.scss */
#wrapper {
  margin: auto;
  width: 800px;
  height: 100%;
  position: relative;
}

/* line 72, sass/_custom.scss */
#lk-intro {
  position: relative;
  margin: auto;
}
/* line 75, sass/_custom.scss */
#lk-intro .redBar {
  font: 900 3em "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* line 79, sass/_custom.scss */
#lk-preloader {
  top: 30px;
}

/* line 82, sass/_custom.scss */
.slidesContainer {
  position: relative;
  margin: auto;
  height: 480px;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* line 89, sass/_custom.scss */
#lk-header, #lk-footer {
  margin: auto;
}

/* line 92, sass/_custom.scss */
#lk-header {
  position: relative;
}

/* line 95, sass/_custom.scss */
#lk-footer {
  bottom: 0px;
  position: absolute;
}

/* line 99, sass/_custom.scss */
#slide2, #slide3, #slide4, #slide5 {
  background: #585858;
  background-image: url("images/aisle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
  position: relative;
}
/* line 106, sass/_custom.scss */
#slide2 p, #slide2 .clipboard, #slide3 p, #slide3 .clipboard, #slide4 p, #slide4 .clipboard, #slide5 p, #slide5 .clipboard {
  margin: auto;
  z-index: 300;
}
/* line 110, sass/_custom.scss */
#slide2 .clipboard, #slide3 .clipboard, #slide4 .clipboard, #slide5 .clipboard {
  height: 100%;
}
/* line 113, sass/_custom.scss */
#slide2 input, #slide3 input, #slide4 input, #slide5 input {
  text-align: center;
  width: 20px;
  margin: 0px 5px;
  alignment-baseline: central;
}

/* line 122, sass/_custom.scss */
#slide4 .clipboard p:first-of-type, #slide3 .clipboard p:first-of-type {
  padding-top: 60px;
}

/* line 126, sass/_custom.scss */
#slide5 .clipboard, #slide4 .clipboard, #slide3 .clipboard {
  background: url("images/clipboardSide.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 132, sass/_custom.scss */
#slide5 .clipboard p, #slide5 .clipboard h1, #slide5 .clipboard h2, #slide4 .clipboard p, #slide4 .clipboard h1, #slide4 .clipboard h2, #slide3 .clipboard p, #slide3 .clipboard h1, #slide3 .clipboard h2 {
  width: 48%;
  margin: auto;
}

/* line 137, sass/_custom.scss */
#slide4, #slide3 {
  p: first-of-type;
  p-padding-top: 70px;
}

/* line 143, sass/_custom.scss */
#slide1 {
  background: url("images/strings.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* line 149, sass/_custom.scss */
#slide1 div:first-of-type {
  position: relative;
  top: 35%;
  font-size: 3em;
  width: 50%;
  padding: 10px 0px 10px 30px;
  border-radius: 10px;
  border-top: 5px;
  color: #fff;
  background-color: #79befd;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF79BEFD', endColorstr='#FF538AD7');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #79befd), color-stop(8%, #64a2f4), color-stop(12%, #538ad7), color-stop(16%, #4b80ca), color-stop(19%, #4376be), color-stop(21%, #4373bc), color-stop(24%, #4171ba), color-stop(75%, #4171ba), color-stop(87%, #3d6db7), color-stop(93%, #3e6db9), color-stop(96%, #4070bc), color-stop(99%, #538ad7));
  background-image: -webkit-linear-gradient(top, #79befd 3%, #64a2f4 8%, #538ad7 12%, #4b80ca 16%, #4376be 19%, #4373bc 21%, #4171ba 24%, #4171ba 75%, #3d6db7 87%, #3e6db9 93%, #4070bc 96%, #538ad7 99%);
  background-image: -moz-linear-gradient(top, #79befd 3%, #64a2f4 8%, #538ad7 12%, #4b80ca 16%, #4376be 19%, #4373bc 21%, #4171ba 24%, #4171ba 75%, #3d6db7 87%, #3e6db9 93%, #4070bc 96%, #538ad7 99%);
  background-image: -o-linear-gradient(top, #79befd 3%, #64a2f4 8%, #538ad7 12%, #4b80ca 16%, #4376be 19%, #4373bc 21%, #4171ba 24%, #4171ba 75%, #3d6db7 87%, #3e6db9 93%, #4070bc 96%, #538ad7 99%);
  background-image: linear-gradient(top, #79befd 3%, #64a2f4 8%, #538ad7 12%, #4b80ca 16%, #4376be 19%, #4373bc 21%, #4171ba 24%, #4171ba 75%, #3d6db7 87%, #3e6db9 93%, #4070bc 96%, #538ad7 99%);
}

/* line 163, sass/_custom.scss */
#slide2 .clipboard {
  background: url("images/clipboard.jpg");
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 169, sass/_custom.scss */
#slide2 p {
  width: 30%;
}
/* line 171, sass/_custom.scss */
#slide2 p:first-of-type {
  padding-top: 50px;
}
/* line 174, sass/_custom.scss */
#slide2 p:nth-of-type(2) {
  padding-top: 30px;
  text-align: center;
}
/* line 178, sass/_custom.scss */
#slide2 p:nth-of-type(3) {
  text-align: center;
}

/* line 184, sass/_custom.scss */
#slide3 table, #slide5 table {
  margin: 20px auto;
  font-size: 0.875em;
  /*target = 14 context = 16 ; 14/16 = result*/
}
/* line 187, sass/_custom.scss */
#slide3 table td, #slide5 table td {
  padding: 10px;
  border: 1px solid #f0f0f0;
}
/* line 191, sass/_custom.scss */
#slide3 table tr td:nth-of-type(n+2), #slide5 table tr td:nth-of-type(n+2) {
  max-width: 75px;
  overflow: hidden;
  text-align: right;
}

/* line 200, sass/_custom.scss */
#slide4 p {
  font-size: 0.875em;
  padding: 10px 0px;
}
/* line 203, sass/_custom.scss */
#slide4 p input {
  width: 50px;
}
/* line 207, sass/_custom.scss */
#slide4 p:nth-of-type(even) {
  font-weight: 600 !important;
  font-size: 0.75em;
  /*target = 12 context = 16 ; 14/16 = result*/
}

/* line 214, sass/_custom.scss */
#slide5 .clipboard h1 {
  padding-top: 60px;
}
/* line 217, sass/_custom.scss */
#slide5 table {
  margin: 10px auto;
}
/* line 219, sass/_custom.scss */
#slide5 table thead td {
  display: none;
}

/* line 226, sass/_custom.scss */
.navButton {
  width: 170px;
  font-size: 1.3125em;
  /*21px / 16px = x ; context = 16px target = 21px ;*/
  padding: 7.25px 0px;
  text-align: center;
  position: absolute;
  z-index: 400;
  background: #091e5e;
  color: white;
  bottom: 10%;
  -webkit-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
  box-shadow: none;
}

/* line 241, sass/_custom.scss */
.navButton:hover {
  background: #5f22bb;
  box-shadow: 0px 0px 20px 2px #c2a6ec;
  cursor: pointer;
}

/* line 246, sass/_custom.scss */
.next {
  right: 0px;
}

/* line 249, sass/_custom.scss */
.back {
  left: 0px;
}

/* line 252, sass/_custom.scss */
.hide {
  display: none;
}

/* line 255, sass/_custom.scss */
.show {
  display: block;
}

/* line 258, sass/_custom.scss */
.export {
  color: white;
  text-decoration: none;
}
