@import "partials/base";
@import "partials/form";
@import "partials/reality";
@import "partials/nojs";
$apple-blue: #08C;
$microsoft-red: #DC3C00;
$microsoft-green: #7cbb00;
$microsoft-yellow: #ffbb00;
$microsoft-blue: #00a1f1;

.hide{
	opacity: 0.0;
	position: absolute;
}
.none{

	display:none;
}

//fallback ie form
.lte-ie9{
	.credentials label > label{
	    display: inline;
	}
}
.error{
	outline: 3px solid $microsoft-red !important;
}
.valid{
	outline: 2px solid $apple-blue;
}
