/* ==========================================================================
 HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
 ========================================================================== */

html, button, input, select, textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
	background-color: #f68933;
	background-image: url(/corptax/img/background.jpg );
	background-repeat: no-repeat;
	background-position: center top;
	font-family: Arial;
	font-weight: 700;
}
section#page {
	margin: auto;
	width: 960px;
	float: left;
}

header.main a {
}

#whole {
	clear: both;
/*	display:table;*/
	margin-bottom: 20px;
}
#logo {
	display: block;
	margin: 35px auto 17px;
}
#social {
	height: 58px;
	width: 860px;
	margin: auto;
	background-color: #005caa;
	background-image: url(/corptax/img/blueblocktransp.gif);
	border-bottom: solid 8px #8fb839;
	img {
		margin-top: 6px;
		z-index: 2;
		z-index: 3;
		float: right;
		border-radius:10px;
		margin-right:10px;
		opacity:.9;
	}
	img:hover{
		opacity:1;
	}
}


section {
	width: 860px;
	margin: auto;
}
article {
/*	position: absolute;*/
	width: 860px;
	float: left;
}

/*===================*/
.valc {
/*	display: table;*/
}
section.valc {
	font-family: "Helvetica Neue";
	background-image: url(/corptax/img/bluething.jpg);
	background-size: cover;
/*	position: absolute;*/
	background-position: center center;
	background-color: rgba(0,92,170,1);
	background-repeat: no-repeat;
	color: #feffff;
	border-top: solid 17px #8fb839;
	float: left;
	
	#one, #two {
		float: left;
		width: 49%;
		text-align: justify;
		font-size: 12px;
			p {
				text-align: left;
				padding: 0 30px 0 60px;
				font-weight: 200;
				line-height: 22px;
				font-size: 12px;
				margin-bottom: 0px;
			}
	}
	h1 {
	
		font-weight: 200;
		padding: 0 60px;
		font-size: 30px;
		text-align: left;
		margin-bottom: 0;
		line-height: normal;
	}
}



#center {
/*	position: absolute;*/
/*	display: table-cell;*/
	margin-top: 20px;
	background: -moz-linear-gradient(top, rgba(253,254,254,0) 0%, rgba(253,254,254,1) 25%, rgba(253,254,254,1) 49%, rgba(253,254,254,1) 70%, rgba(253,254,254,0) 99%, rgba(253,254,254,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,254,254,0)), color-stop(25%,rgba(253,254,254,1)), color-stop(49%,rgba(253,254,254,1)), color-stop(70%,rgba(253,254,254,1)), color-stop(99%,rgba(253,254,254,0)), color-stop(100%,rgba(253,254,254,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(253,254,254,0) 0%,rgba(253,254,254,1) 25%,rgba(253,254,254,1) 49%,rgba(253,254,254,1) 70%,rgba(253,254,254,0) 99%,rgba(253,254,254,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(253,254,254,0) 0%,rgba(253,254,254,1) 25%,rgba(253,254,254,1) 49%,rgba(253,254,254,1) 70%,rgba(253,254,254,0) 99%,rgba(253,254,254,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(253,254,254,0) 0%,rgba(253,254,254,1) 25%,rgba(253,254,254,1) 49%,rgba(253,254,254,1) 70%,rgba(253,254,254,0) 99%,rgba(253,254,254,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(253,254,254,0) 0%,rgba(253,254,254,1) 25%,rgba(253,254,254,1) 49%,rgba(253,254,254,1) 70%,rgba(253,254,254,0) 99%,rgba(253,254,254,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fdfefe', endColorstr='#00fdfefe',GradientType=0 ); /* IE6-9 */
	width: 1px;
	height: 190px;
	z-index: 3;
	float: left;
}
/*===================*/

div.valc {
	width: 740px;
	margin: auto;
}
#video {
	position: relative;
	
}
footer p{
	clear: both;
	width:840px;
	text-align:center;
	margin: 0 auto;
	font-weight:200;
	color:#fff;
}

#freeTix {
	width: 700px;
	margin: 30px auto;
	background: rgb(253,254,254); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(253,254,254,1) 0%, rgba(202,202,202,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,254,254,1)), color-stop(100%,rgba(202,202,202,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(253,254,254,1) 0%,rgba(202,202,202,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(253,254,254,1) 0%,rgba(202,202,202,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(253,254,254,1) 0%,rgba(202,202,202,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(253,254,254,1) 0%,rgba(202,202,202,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#cacaca',GradientType=0 ); /* IE6-9 */
	padding: 10px;
	display: block;
	text-align: center;
	float: left;
	font-size: 22px;
	color: #005CAA;
	border-radius: 10px;
/*	display: table-cell;*/
	vertical-align: middle;
	-webkit-box-shadow: 0px 0px 8px rgba(16,15,15,.8);
	-moz-box-shadow: 0px 0px 8px rgba(16,15,15,.8);
	box-shadow: 0px 0px 8px rgba(16,15,15,.8);
}
#freeTix:hover{
	box-shadow: 0 0 0 2px rgb(255,255,255);
	cursor:pointer;
	
	
}
.shadow {
	-webkit-box-shadow: 30px 30px 40px #000;
	-moz-box-shadow: 30px 30px 40px #000;
	box-shadow: 0px 0px 30px rgba(16,15,15,.4);
}


img {
	vertical-align: middle;
}

#play {
	position: absolute;
	top: 25%;
	left: 40%;
	opacity:.5;
	cursor:pointer;
}
#play:hover{
	opacity:.9;
	
}
article img {
	position: relative;
	z-index: 1;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}
