@font-face {
  font-family: "Avenir";
  src: url("./avenir_next.ttf"); }

/* line 13, main3.scss */
html,
button,
input,
select,
textarea {
  color: #222; }

/* line 17, main3.scss */
body {
  font-size: 1em;
  line-height: 1.4; }

/* line 22, main3.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 27, main3.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
/* line 36, main3.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 49, main3.scss */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
/* line 57, main3.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
/* line 67, main3.scss */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 75, main3.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 110, main3.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

/* line 118, main3.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 129, main3.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 138, main3.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 155, main3.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 168, main3.scss */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 185, main3.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 190, main3.scss */
.cf:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 199, main3.scss */
.cf {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 219, main3.scss */
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 227, main3.scss */
  a,
  a:visited {
    text-decoration: underline; }

  /* line 231, main3.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 235, main3.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 245, main3.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  /* line 250, main3.scss */
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  /* line 255, main3.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  /* line 260, main3.scss */
  tr,
  img {
    page-break-inside: avoid; }

  /* line 264, main3.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 274, main3.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  /* line 280, main3.scss */
  h2,
  h3 {
    page-break-after: avoid; } }
/*andwee stylin all over the place! andrew luhring @bisforbounce.com/ */
/*body font family*/
/*body font size*/
/*body font color*/
/*header font size*/
/*header font family*/
/*header font color*/
/*header font weight*/
/* line 336, main3.scss */
body {
  background: #e7e7e7; }

/* line 340, main3.scss */
#bgh {
  position: absolute;
  width: 1200px; }

/* line 344, main3.scss */
a {
  text-decoration: none; }

/* line 348, main3.scss */
#wrapper, footer {
  margin: auto;
  padding: 10px; }

/* line 359, main3.scss */
header {
  background: #9bc8f5;
  max-width: 750px; }
  /* line 362, main3.scss */
  header img {
    max-width: 750px;
    height: auto;
    margin: 0px auto; }
  /* line 367, main3.scss */
  header hgroup {
    position: absolute;
    top: 0;
    visibility: hidden; }
  /* line 372, main3.scss */
  header nav {
    background: #9bc8f5;
    margin: auto; }
    /* line 375, main3.scss */
    header nav ul {
      margin: 0px auto;
      padding: 0px;
      width: 691px; }
      /* line 379, main3.scss */
      header nav ul li:hover {
        background: #6e97cd; }
      /* line 382, main3.scss */
      header nav ul li {
        float: left;
        margin: 0px;
        border-right: 1px solid #6e97cd;
        width: 114px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        background: #9bc8f5;
        font-family: "Avenir", sans-serif;
        font-weight: bold;
        font-variant: small-caps; }
        /* line 394, main3.scss */
        header nav ul li a {
          color: #255FBD; }
      /* line 398, main3.scss */
      header nav ul li:first-of-type {
        border-left: 1px solid #6e97cd; }

/* line 406, main3.scss */
article {
  clear: left;
  max-width: 420px;
  margin: 20px 10px;
  float: left;
  -webkit-transform: rotate(-40deg) translate(85px, 400px);
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #333333;
  line-height: 16px; }
  /* line 413, main3.scss */
  article h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ff6600;
    line-height: 24px;
    font-weight: bold; }

/* line 418, main3.scss */
#rsb {
  float: left; }
  /* line 421, main3.scss */
  #rsb nav ul {
    padding: 0px;
    margin: 0px; }
    /* line 425, main3.scss */
    #rsb nav ul li {
      z-index: 0;
      height: 90px;
      display: table;
      background: #6e97cd;
      width: 100%;
      margin: 7px auto;
      position: relative;
      width: 250px; }
      /* line 435, main3.scss */
      #rsb nav ul li a {
        display: table-cell;
        vertical-align: middle;
        color: white;
        font: normal small-caps 700 30px "Avenir", "Helvetica Neue", "Helvetica", sans-serif;
        line-height: 25px;
        text-decoration: none;
        padding-left: 20px; }
    /* line 445, main3.scss */
    #rsb nav ul li:first-child {
      z-index: 1;
      -webkit-transform: rotate(-62deg) translate(-103px, 166px);
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      width: 250px; }
      /* line 451, main3.scss */
      #rsb nav ul li:first-child a {
        -webkit-transform: rotate(90deg) translate(74px); }
    /* line 455, main3.scss */
    #rsb nav ul li:nth-child(2) {
      -webkit-transform: rotate(56deg) translate(-190px, 195px);
      z-index: 2;
      width: 375px;
      border-top-left-radius: 45px;
      border-bottom-left-radius: 45px; }
      /* line 461, main3.scss */
      #rsb nav ul li:nth-child(2) a {
        padding-left: 100px; }
    /* line 465, main3.scss */
    #rsb nav ul li:nth-child(3) {
      -webkit-transform: rotate(54deg) translate(-300px, 250px);
      z-index: 2;
      width: 420px;
      border-top-left-radius: 45px;
      border-bottom-left-radius: 45px; }
      /* line 471, main3.scss */
      #rsb nav ul li:nth-child(3) a {
        padding-left: 100px; }
    /* line 476, main3.scss */
    #rsb nav ul li:nth-child(4) {
      -webkit-transform: rotate(52deg) translate(-355px, 300px);
      z-index: 2;
      width: 375px;
      border-top-left-radius: 45px;
      border-bottom-left-radius: 45px; }
      /* line 482, main3.scss */
      #rsb nav ul li:nth-child(4) a {
        padding-left: 100px; }
    /* line 487, main3.scss */
    #rsb nav ul li:nth-child(5) {
      -webkit-transform: rotate(50deg) translate(-369px, 336px);
      z-index: 2;
      width: 250px;
      border-top-left-radius: 45px;
      border-bottom-left-radius: 45px; }
      /* line 493, main3.scss */
      #rsb nav ul li:nth-child(5) a {
        padding-left: 100px; }
