@import "compass";
@import "partials/base";
$right_angle: 90deg;

$truck_width: 680px;


$top_rX : $right_angle;
$top_rY : 0;
$top_rZ : 0;
$top_tX : 0;
$top_tY : -$truck_width;
//$top_tY : -680px;
$top_tZ : 0;
$top_diff_engine_rY: -18deg;
$top_diff_engine_tX: -25px;



$bottom_rX: $right_angle;
$bottom_rY: 0;
$bottom_rZ: 0;

$bottom_tX  :   0;
$bottom_tY  : -$truck_width;
$bottom_tZ  : -200px;

$bottom_diff_engine_rY  :   -18deg;
$bottom_diff_engine_tX  :   -25px;

$bottom_diff_body_rX    :   -$right_angle;
$bottom_diff_body_tZ    :   $truck_width;
$bottom_diff_body_tY    :  0;


//@include prefixer(transform, rotateX($_rX) rotateY($_rY) rotateZ($_rZ)  translateX($_tX) translateY($_tY) translateZ($_tZ), webkit moz ms o spec);

@mixin bottomTransform($part){
	@if $part == body{
		@include prefixer(transform, rotateX($bottom_diff_body_rX) rotateY($bottom_rY) rotateZ($bottom_rZ)  translateX($bottom_tX) translateY($bottom_diff_body_tY) translateZ($bottom_diff_body_tZ), webkit moz ms o spec);

	}   @else if $part == engine {
		@include prefixer(transform, rotateX($bottom_rX) rotateY($bottom_diff_engine_rY) rotateZ($bottom_rZ)  translateX($bottom_diff_engine_tX ) translateY($bottom_tY) translateZ($bottom_tZ), webkit moz ms o spec);
	}   @else   {
		//engine_straight
		@include prefixer(transform, rotateX($bottom_rX) rotateY($bottom_rY) rotateZ($bottom_rZ)  translateX($bottom_tX) translateY($bottom_tY) translateZ($bottom_tZ), webkit moz ms o spec);
	}
}



@mixin topTranform($normal){
@if $normal == true{
	@include prefixer(transform, rotateX($top_rX) rotateY($top_rY) rotateZ($top_rZ)  translateX($top_tX) translateY($top_tY) translateZ($top_tZ), webkit moz ms o spec);
	}   @else   {
	@include prefixer(transform, rotateX($top_rX) rotateY($top_diff_engine_rY) rotateZ($top_rZ)  translateX($top_diff_engine_tX) translateY($top_tY) translateZ($top_tZ), webkit moz ms o spec);
	}
}



body, html{
	border: none;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
}
div{
	border:1px solid black;
}
#wrapper {
	-webkit-perspective: 2000px;
}
#truck {
	width: 1750px;
	height: 900px;
	z-index: 1;
	-webkit-transform-style: preserve-3d;
	position: relative;
}

/*
	.controls are binded with angular. also sets non-default appearance because swag.


*/
.controls, .controls fieldset{
	@include align-items(center);
	border: none !important;
	@include display(flex);
	position:relative;
	z-index: 2;
//	flex: 1;

}
.controls{
	//flex-direction: column;
	@include flex-direction(row);
	@include justify-content(center);

	input[type="range"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		height: 2px;
		background: black;
		margin: 2rem 0;
		width: 30rem;
		overflow: visible;
	}
	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: black;
		height: 30px;
		width: 5px;
	}
	label{
		width: 10rem;
		margin: 0 0 0 2rem;
	}
}
.controls fieldset{
	margin: 0 0 20px 0;
	*{
		border: none !important;
	}
}


/*
	wheels and tires

	(all require flexbox)
	:hover          -   rotates the wheels

	Styleguide 1.0
*/
.wheel,  .tires,  .hubcap,  .inner_hubcap,  .bolt-circle {
	border-radius: 50%;
	@include display(flex);
	@include justify-content(center);
	@include align-content(center);
	@include align-items(center);
	position: relative;
}
.bolt,  .innermost_hubcap_thing {
	border-radius: 50%;
}
.wheel {
	border-bottom: none;
	border-left: none;
	border-right: none;
	width: 270px;
	height: 270px;
	position: absolute;
	top: 550px;
	&:nth-last-of-type(2) {
		left: 100px;
		top: 545px;
	}
	&:last-child {
		left: 1200px;
	}
}
.tires {
	top: 10px;
	width: 220px;
	height: 220px;
	-webkit-transition: all 5s;
	transition: all 5s;
	&:hover {
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
		-webkit-transition: all 5s;
		transition: all 5s;
	}
}
.hubcap {
	width: 150px;
	height: 150px;
}
.inner_hubcap {
	width: 115px;
	height: 115px;
}
.innermost_hubcap_thing {
	border-bottom: none;
	height: 39px;
	left: -2px;
	margin: auto;
	position: absolute;
	top: 17px;
	width: 37px;
}
.bolt-circle {
	border: none;
	height: 81px;
	width: 81px;
	@include display(flex);
	-webkit-transform: rotate(15deg);
}
.bolt-spacer {
	border: none;
	@include display(flex);
	position: relative;
	flex-direction: column;
	width: 15px;
	height: 75px;
	margin: 1px 3px;
	&:nth-of-type(2) {
		-webkit-transform: rotate(180deg);
	}
}
.bolt {
	position: relative;
	@include flex(1);
	&:nth-of-type(1) {
		top: 2px;
		left: 1px;
	}
	&:nth-of-type(2) {
		top: -3px;
		left: -15px;
	}
	&:nth-of-type(3) {
		left: -21px;
		top: -1px;
	}
	&:nth-of-type(4) {
		left: -17px;
		top: 2px;
	}
	&:nth-of-type(5) {
		left: 0;
	}
}


.front_window_inner {
	width: 60px;
	margin-left: 10px;
	position: absolute;
	height: 215px;
	top: 150px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
	&:last-of-type {
		border-radius: 20px;
		-webkit-transform: rotate(-16.4deg) translateX(0px) translateY(10px);
		border-left: none;
		border-top: none;
		width: 80px;
		height: 225px;
		border-bottom-left-radius: 10px;
	}
	&:first-of-type {
		width: 55px;
		border-right: none;
		border-bottom: none;
	}
}
.front_window {
	border-right: none;
	border-bottom: none;
	border-top: none;
	position: absolute;
	left: 170px;
	-moz-transform: rotate(16.4deg) translateX(14px);
	-ms-transform: rotate(16.4deg) translateX(14px);
	-o-transform: rotate(16.4deg) translateX(14px);
	-webkit-transform: rotate(16.4deg) translateX(14px);
	transform: rotate(16.4deg) translateX(14px);
	top: 12px;
	width: 215px;
}
.front_window .drivers_window {
	height: 230px;
}
.peapod_logo {
	border: none;
	@include flex(4);
	font-family: "EB Garamond";
	font-size: 190px;
	margin: 0;
	width: 100%;
	> span {
		border: none !important;
		display: inline-block;
		left: -35px;
		line-height: 0.7;
		position: relative;
		text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff;
		top: -30px;
	}
}
.logo_container {
	border: none;
}
.text {
	border: none;
	@include flex(1);
	text-align: center;
	width: 560px;
	&:nth-of-type(2) {
		font-size: 75px;
		font-family: "EB Garamond";
		color: black;
		left: -20px;
		position: relative;
		line-height: 0.5;
	}
	&:nth-of-type(3) {
		color: black;
		font-size: 45px;
		font-family: "Avenir";
		left: -40px;
		letter-spacing: -0.5px;
		line-height: 0.5;
		position: relative;
		top: 24px;
		white-space: nowrap;
	}
}
.driver_window {
	position: absolute;
	width: 235px;
	height: 205px;
	top: 185px;
	left: 30px;
	border-radius: 20px;
}
.preview {
	opacity: 0.8;
	position: absolute;
	width: 100%;
	top: -290px;
	z-index: 1;
	display: none;
}
.engine {
	-webkit-transition: all 4s;
	position: absolute;
	left: 55px;
	top: 390px;
	width: 170px;
	height: 200px;
	&.front_view {
		border: 2px solid #28CC49;
		-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-18deg) translateZ(0px);
	}
	&.back_view {
		border: 2px solid #28CC49;

		-webkit-transform: rotateX(180deg) rotateZ(18deg) translateZ(680px);
	}
	&.top_view {
		border: 2px solid #28CC49;
		height: 680px;
		@include topTranform(false);
		-webkit-transform-origin: top;
	}
	&.bottom_view {
		border: 2px solid lime;
		height: 680px;
		-webkit-transform: rotateX(90deg) rotateY(-18deg) translateY(-680px) translateZ(-200px) translateX(-25px);
		@include bottomTransform(engine);
		-webkit-transform-origin: top;
	}
	&.right_view {
		-webkit-transform: rotateZ(-18deg) rotateY(-90deg) rotateX(0) translateX(-250px) translateY(-55px) translateZ(100px);
		-webkit-transform-origin: top;
		width: 680px;
	}
	&.left_view {
		-webkit-transform: rotateZ(-18deg) rotateY(90deg) translateX(250px) translateY(-55px) translateZ(-275px);
		-webkit-transform-origin: top;
		width: 680px;
		border: 2px solid #28CC49;
	}
	&:hover {
		-webkit-transition: all 4s;
	}

}
.engine_straight {
	-webkit-transition: all 4s;
	border-bottom-left-radius: 25px;
	border-right: none;
	border-top: none;
	border-top-left-radius: 32px;
	height: 200px;
	left: 12px;
	position: absolute;
	top: 420px;
	width: 170px;
	&:hover {
		-webkit-transition: all 4s;
	}
	&.front_view {
		border: 2px solid black;
		-webkit-transform: rotateY(0deg) rotateZ(0deg) translateZ(0px);
	}
	&.back_view {
		border: 2px solid #28CC49;
		-webkit-transform: rotateX(180deg) rotateZ(0deg) translateZ(680px);
	}
	&.top_view {
		height: 680px;
		border: 2px solid #19FF2D;

		@include topTranform(true);
		-webkit-transform-origin: top;
	}
	&.bottom_view {
		border: 2px solid #009646;
		height: 680px;
		@include bottomTransform(engine_straight);
		-webkit-transform-origin: top;
	}
	&.left_view {
		border: 2px solid #28CC49;
		-webkit-transform-origin: top;
		width: 680px;
		-webkit-transform: rotateZ(0deg) rotateY(90deg) translateX(250px) translateY(0px) translateZ(-250px);
	}
	&.right_view {
		-webkit-transform-origin: top;
		-webkit-transform: rotateZ(0deg) rotateY(-90deg) rotateX(0) translateX(-250px) translateY(0px) translateZ(80px);
		width: 680px;
		border: 2px solid #28CC49;
	}
}

/*.top_view{
	//  rotate:         z0  y0  x90
	//  translate:    z0  y-680  x90
}
.bottom_view{
	//  rotate:         z0  y0  x90
	//  translate:    z680  y0  x0
}
.back_view{
	//  rotate:         z 0 y180 x0
	//  translate:   z 680 y0 x0
}
.right_view{
	//  rotate z 0 y 0 x 0
	//  translate z 0 y 0 x 0
}*/


.body,
.front_window {
	height: 675px;
}


.top_thing {
	border-radius: 20px;
	height: 35px;
	left: -30px;
	position: relative;
	width: 105%;
}
.logo_container {
	width: 560px;
	margin: auto;
	@include display(flex);
	flex-direction: column;
	@include justify-content(center);
	height: 350px;
}
.middle_thing {
	position: relative;
	top: 20px;
	left: 30px;
	height: 25px;
}

.body{
	left: 285px;
	position: absolute;
	width: 1500px;
	-webkit-transition: all 4s;
	&.top_view{
		//height: 680px;

		-webkit-transform-origin: top;
		@include topTranform(true);
	}
	&.bottom_view{
		//height: 680px;

		-webkit-transform-origin: top;
		@include bottomTransform(body);
		//-webkit-transform: rotateZ(0deg) rotateY(-0deg) rotateX(-90deg) translateZ(680px) translateY(0px) translateX(0px) ;
	}
	&.front_view{
		background: none;
		z-index: 2;
	}
	&.back_view{

		-webkit-transform-origin: top;
		-webkit-transform: rotateZ(0deg) rotateY(180deg) rotateX(0deg) translateZ(680px) translateY(0px) translateX(0px) ;
	}
	&.left_view{
		background: none;
	}
	&.right_view{
		-webkit-transform-origin: top;
		-webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg) translateZ(0px) translateY(0px) translateX(0px) ;
	}
}


//=====================
//colors
//
//
////
//.top_view{
//  background: #19FF2D;
//}
//.bottom_view{
//  background: #009646;
///* shadows: background: #005435;*/
//}
//.front_view{
//  background: #28CC49;
//}
//.back_view{
//background: #28CC49;
//}
//.left_view{
//  background: #28CC49;
//}
//.right_view{
//  background: #28CC49;
//}

/*
	.top_view{
		rotateX: 90deg
		rotateY: 0deg
		rotateZ: 0deg

		translateX: 0
		translateY: -680px
		translateZ: 0

		//  engine.top_view :
		//  rotateY is -18deg
		//  translateX -25px
	}

	.bottom_view{

		rotateX: 90deg
		rotateY: 0
		rotateZ: 0

		translateX:
		translateY:
		translateZ:

		engine is off axis:
		rotateY: -18deg

		body bottom is reverse
		rotateX: -90deg
	}




*/


[ng-app*='truck']{
	position: relative;

}
#truck {
	border: none;
	-webkit-transition: -webkit-transform 4s;
	-moz-transition: -moz-transform 4s;
	-ms-transition: -ms-transform 4s;
	-o-transition: -o-transform 4s;
	transition: transform 4s;

	//-webkit-transform: rotateY(130deg);
}

#zderp{
	border: none;
	position:relative;
	z-index: 1;
}
.ng-scope{
	overflow: hidden;
}