@import "partials/base";
@import 'partials/colors';
@import "partials/transforms";

html{

}

body, html{
	border: none;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
}

div{
	border:1px solid black;
}
#wrapper {

	@include perspective( 400rem);
}
#truck {
	border: none;
	width: 175rem;
	height: 90rem;
	z-index: 1;

	-webkit-transform-style: preserve-3d;
	position: relative;
	@include transition(transform 4s);
}
[ng-app*='truck']{
	position: relative;
}
#zderp{
	border: none;
	position:relative;
	z-index: 1;
}
.ng-scope{
	overflow: hidden;
}
@import 'partials/controls';
@import "partials/wheels";
@import 'partials/front_window';
@import 'partials/body';
@import 'partials/engine';



