<!DOCTYPE html>
<!--[if lte IE 8]>      <html class="ie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->

<head>
</head>
<body>
	<div id="page">
		<header>
			<h1> Andrew Luhring </h1>
		</header>
		<article id="portfolio" class="cf" >
			<div class="portfolioContent">
				<p id="hint">.</p>
				<div id="galleryDiv">
					<a href="" class="lb_gal" > <img id="largeGallery" src="" title="" class="gallery cf hide" /></a>
					<a href="" class="lb_gal" > <img id="largeGallery1" src="" title="" class="gallery cf hide" /></a>
					<a href="" class="lb_gal" > <img id="largeGallery2" src="" title="" class="gallery cf hide" /></a>
				</div>
				<div id="centeringDiv" class="cf">
					<a href="gallery.php">
						<div id="UX" class="workTypes failsafe">
							<p>Websites</p>
						</div>
					</a>
					<a href="gallery.php">
						<div id="other" class="workTypes failsafe">
							<p>Code</p>
						</div>
					</a>
					<a href="gallery.php">
						<div id="albumArt" class="workTypes failsafe">
							<p>Experiments</p>
						</div>
					</a>
					<a href="gallery.php">
						<div id="logoDesign" class="workTypes failsafe">
							<p>Designs</p>
						</div>
					</a>
				</div>
			</div>
	    </article>
		<footer id="contact" class="cf">
			<div> <!--flex wrapper-->
				<a href="http://www.bisforbounce.com/contact/">
					<div>
						<p>Contact</p>
					</div>
				</a>

				<a href="http://www.bisforbounce.com/">
					<div>
						<p>Music</p>
					</div>
				</a>

				<a href="portfolio/resume/current/resume.pdf" class="resume">
					<div>
						<p>Résumé</p>
					</div>
				</a>
			</div>
		</footer>
			<a id="beta" href="http://yolo-tyrion.herokuapp.com/">Check here to see the v2.0 beta  release of this portfolio--better code, different design, and fully integrated with node!</a>
	</div>
		<!--[if lte IE 8]><div id="IEroot" style="text-align:center; margin:auto;"><p>Viewing this page on an old version of Internet Explorer is like seeing the world in black and white! <br /><a href="http://windows.microsoft.com/en-US/internet-explorer/downloads/ie-9/worldwide-languages">http://windows.microsoft.com/en-US/internet-explorer/downloads/ie-9/worldwide-languages</a><br />Or if you really want to get fancy, try <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox/all.html">Firefox</a>!</p></div><![endif]-->

</body>
</html>
