@import "pie.scss";
@import "_base";

$bg : #67a76a;
$pagebg : #c2dbc3;
$mainSectionbg: #C0DBC2;
$sectionbg: #fff;
$articlebg: #eee;
$contentNavbg: #fff;

a, u, i {
	text-decoration:none;
	font-style: normal;
	color: inherit;
}
ul, li{
	-moz-padding-start: 0px;
	-moz-padding-end: 0px;
	-moz-padding-before: 0px;
	-moz-padding-after: 0px;
	-webkit-margin-start: 0em;
	-webkit-margin-end: 0em;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-padding-start: 0px;
	-webkit-padding-end: 0px;
	&:before, &:after{
		margin:none;
		-moz-padding-start: 0px;
		-moz-padding-end: 0px;
		-moz-padding-before: 0px;
		-moz-padding-after: 0px;
		-webkit-margin-start: 0em;
		-webkit-margin-end: 0em;
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-padding-start: 0px;
		-webkit-padding-end: 0px;
		padding:none;
		list-style-type: none;		
	}
	margin:none;
	-webkit-margin-start: 0em;
	-webkit-margin-end: 0em;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-padding-start: 0px;
	-webkit-padding-end: 0px;
	padding:none;
	list-style-type: none;
}
html {
	background:   $bg;
	font-size: 16px;
}

body {
	font: normal normal normal 62.5% "PT Sans Narrow", sans-serif;
	margin: auto;
	//min-width: 720px;
	>section {
		font-size: 1.6em;
		background:  $mainSectionbg;
		max-width: 1300px;
		min-width: 720px;
		background:   $pagebg;
		margin: 0px auto;
		height: 100%;
		
		div{
			height: 85px;
			width: 100%;
			position: relative;
			a{
				position: absolute;
				bottom: 0px;
				right: 0px;
				margin: 10px;
			}
		}
		section{
			main{
			box-shadow: 0px 0px 5px 5px #8fa18f;
			background: $sectionbg;
			width: 100%;	
			@include flex;
			@include pie;
			}
		}
	}
	 > section:nth-of-type(2) {
	 	position: relative;
	 	z-index: 0;
	 	overflow-x: scroll;
	 }
}
article {
	background:   $articlebg;
	height:475px;
	@include flex;
	margin: 40px 22px;
	box-shadow: 0px 0px 30px 5px #ccc;
	@include pie;
	p{
		text-align:center;
		vertical-align: middle;
	}
}
.metaNav {
	@include pie;
	background-color: #ffffff;
	@include filter-gradient(#ffffff, #295778, horizontal);
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(left,  #ffffff 0%,#1c4063 50%,#295778 100%));

	box-shadow: 0px 4px 10px #7f86ad; 
	width:100%;
	max-width: 100%;
	
	height: 55px;
	color: white;
	position: relative;
	z-index: 1;
	nav{
		float: right;
		position: relative;
		bottom: -10px;
		height: 100%;
		right: 0px;
		li{
			float: left;
			margin: 5px 10px;
		}
	}
}
.contentNav{
	background: $contentNavbg;
	box-shadow: 0px 7px 7px -3px #8fa18f;
	@include cf;
	padding:10px;
	
	ul{
		margin:0px;	
		width:240px;
	}
	li{
		float:right;
		display:table;
		height: 20px;
		width: 115px;
		border: 1px solid #eee;
		border-radius: 7px;
		margin: 5px 0px;
		clear:right;
		@include pie;
		background-color: #eeeeee;
		@include filter-gradient(#eeeeee, #ffffff, vertical);
		$experimental-support-for-svg: true;
		@include background-image(linear-gradient(top,  #eeeeee 0%,#ffffff 100%));
		&:first-of-type{
			color: white;
			float:left;
			@include pie;
			background-color: #6fdac4;
			@include filter-gradient(#6fdac4, #4eb49a, vertical);
			$experimental-support-for-svg: true;
			@include background-image(linear-gradient(top,  #6fdac4 0%,#4eb49a 100%));
		}
		a{
			display:table-cell;
			width:100%;
			text-align: center;
			margin:auto;
		}
	}
}
/* 
 if it only has no flexbox and doesnt have flexbox legacy then it is not firefox, chrome, safari or safari mobile- so it's either opera or ie < 9. so use float and clearfix.
 */
.no-flexbox.no-flexboxlegacy, .no-flexbox.no-flexbox-legacy {
	article{
		width: 28%;
		float: left;
		display:table;
		p{
			display:table-cell;
			vertical-align: middle;
			text-align:center;
		}
	}
	section {
		main:before, main:after {
		    content: " ";
		    display: table;
		}
		main:after {
		    clear: both;
		}	
	}
}

.no-flexbox.flexboxlegacy{
	article, section main{
		@include flex;
	}
	article{
		text-align:center;
		-moz-box-pack:    center;		
		-webkit-box-pack: center ;

		p{
			margin:auto;
			display:block;
		}
	}
	
}
#getStuff{
	margin:auto;
	display:table;
	p{
		display:table-cell;
		vertical-align:middle;
		text-align:center;
	}
}
.flexbox #responded{
	@include flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
}
#responded{
	
	padding: 5% 0px;
	h1{
		text-align: center;
	}
	p{
		margin: 20px 15%;
	}
}
#rainbows p{
	cursor:pointer;
}
article p a, #rainbows p{
	
	-webkit-transition: 1s all 0s;
	-moz-transition: 1s all 0s;
	-ms-transition: 1s all 0s;
	-o-transition: 1s all 0s;
	transition: 1s all 0s;
	&:hover{
		background-color: #E6C1F8;
		box-shadow: 0px 0px 10px 5px #E6C1F8;
	}
}


