.ie {
	behavior: url(/PIE.php);
	list-style-type: none;
	body *{
		behavior: url(/PIE.php);
	}
}

body {
	-browser-transform: scale(30%);
	font-family: 'Quicksand';
	font-weight: 300;
	font-size: 1em;
	width:100%;
	background: #fefeff;
	margin: 0.5em auto;
}
a{
	text-decoration:none;
}
#IEroot {
	font-size: .75em;
	color: #aaaaaa;
	 a {
		color: #5dc6f2
	}
}
#centeringDiv .ui-effects-wrapper{
	display: inline-block !important;
	.workTypes{

	}
}
header {
	margin:auto;
	h1, h2, h3, h4, h5, h6 {
		font: normal normal 200 80px 'Comfortaa', 'Helvetica-Neue', Arial, sans-serif;
		text-align: center;
	}
	h1{
		margin-bottom: 10px;
	}
	h2{
		font-size: 60px;
	}
	.small{
		font-size: 20px;
	}
	h3{
		font-size: 40px
	}
	h4{
		font-size: 30px;
	}
	h5{
		font-size: 25px;
	}
	h6{
		font-size:20;

	}

}

.no-flexbox .flexy{
	@include box();
}

.flexbox{
	.flexy{
		@include display(flex);
	}
}
#portfolio {
	margin:auto;
	width:100%;
}
#galleryDiv {
        img{
        	min-width: 100px;
        	height: auto;
        }
}


#portfolio{
	padding: 10px  0 40px;
}

#centeringDiv {
	margin:auto;
	width:100%;
	overflow: visible;
	.workTypes{
		background: white;
		cursor: pointer;
		span{
			margin:auto;
			font-family: "Quicksand";
		}
	}
}

.flexbox{
	#centeringDiv, .workTypes, .centeringDiv, .workTypes-footer {
		@include display(flex);
		@include flex-flow(row);
		@include justify-content(space-around);
		@include align-items(stretch);
		@include align-self(stretch);
	}
	.workTypes{
		@include align-items(center);
		@include flex(1);
		@include justify-content(center);
		margin: auto;
	}
	.workTypes-footer{
		@include align-items(center);
		@include justify-content(center);
	}

}
footer {
	padding-bottom:20px;
}
.workTypes-footer {
	text-decoration:none;
	p{
		margin:auto;
	}
}
.flexbox{
	#galleryDiv{
		@include flex-direction(row);
	}

}
.no-flexbox #centeringDiv{
	@include box(horizontal, center, center);
}
.no-flexbox.flexboxlegacy .centeringDiv{
    -moz-box-pack: center;
    display: -moz-box;
    width: 100%;
}
