/*

#portfolio {
	margin-left: auto;
	margin-right: auto;
	font-family: 'Quicksand';
	font-weight: 400;
	min-width: 960px;
	max-width: 1300px;
	position: relative;
	overflow: hidden;
}
.portfolioAccordianHeading {

	width: 150px;
	height: 150px;
	margin: auto;
	display: table;
	padding: 20px 20px 20px 20px;
	border-radius: 50%;
	border: 1px solid #c2c2c2;
	-webkit-box-shadow: 4px 20px 58px -35px #400339;
	box-shadow: 4px 20px 58px -35px #400339;
	behavior: url(/PIE.php);
}
.portfolioAccordianHeading p {
	display: table-cell;
	vertical-align: middle;
}
#main.portfolioContainer {
	padding: 0 0 0 0;
}

.gallery {
	max-width: 315px;
	max-height: 200px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #c3c3c3;
}
.ie img.gallery {
	width: 315px; // This makes the next two lines work in IE8. 
	height: auto;
}

#galleryDiv {
	display: table;
	margin: auto;
}
#blah {
	display: table-cell;
	vertical-align: middle;
}
#centeringDiv {
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
	min-width: 1000px;
	max-width: 1300px;
	width: 78%;
}
#galleryDiv {
	height: 400px;
}
.portfolioPotential {
	background: rgb(242,242,242); 
	background: -moz-radial-gradient(center, ellipse cover,  rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); 
	background: -ms-radial-gradient(center, ellipse cover,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=1 );
	border: 1px solid #c2c2c2;
	border-radius: 50px 50px 50px 50px;
	min-width: 960px;
	max-width: 1300px;
	width: 72%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	behavior: url(/PIE.php);
}
#preview {
	margin-left: auto;
	margin-right: auto;
	padding: 10%;
	overflow: hidden;
	text-align: left;
}
#warning {
	margin-left: auto;
	margin-right: auto;
	padding: 15% 10%;
	overflow: hidden;
	text-align: center;
}
#hint {
	margin-bottom: 0em;
	text-align: center;
}
.workTypes {
	float: left;
	margin: 92px 22px 60px 22px;
	height: 200px;
	width: 200px;
	background-color: #fff;
	border: 3px solid #7BE5E5;
	border-radius: 50px;
	-webkit-box-shadow: 10px 15px 45px -5px #400339;
	box-shadow: 10px 15px 45px -5px #400339;
	display: table;
	font-size: 1.5em;
	behavior: url(/PIE.php);
}

.workTypes p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.workTypesSelected {
	float: left;
	height: 200px;
	width: 200px;
	background-color: #f6f6f6;
	border: 3px solid #7BE5E5;
	border-radius: 50px;
	-webkit-box-shadow: 0px 0px 0px 0px rgb(64,3,57);
	box-shadow: 0px 0px 0px 0px rgb(64,3,57);
	display: table;
	font-size: 1.5em;
	behavior: url(/PIE.php);
}
#images {
	margin: auto;
	height: 200px;
	border: 1px solid #373737;
}

.images {
	max-width: 200px;
	max-height: 200px;
	display: inline;
	margin: 20px;
}
#bbiframe {
	max-width: 300px;
}
#description {
	clear: both;
	margin-top: 100px;
}

#temp {
	min-width: 400px;
	width: 80%;
	margin: auto;
}

#clickToClose {
	margin: 20px auto;
	padding: 10px;
	min-width: 10%;
	max-width: 300px;
	border: 1px solid #ccc;
	clear: both;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
}
.ie #clickToClose {
	width: 300px;
	cursor: pointer;
}
.cf {
	overflow: hidden;
}
.cf:before, .cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
#div1 {
	height: 100%;
	//  width:50%;
	 //float:left;
	 
}
#div2 {
	height: 100%;
	//  width:50%;
	 //float:left;
	 
}
*/
