#modal{
	position: absolute;
	width: 100%;
	width: 1920px;
	height: 100%;
	z-index: 999999;
	background: #000;
	font: normal normal bold 1rem "Droid Sans";
	color:yellow;
	top: 0px;
	display: inline-table;
    	text-align: center;
	#crawlContainer{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		position:relative;
		right: 100px;
		z-index: 400;
	}
	#message{
		border: 5px solid black;
		width: 100%;
		@include box-sizing(border-box);
		height: 400px;
		display: block;
		position:relative;
		overflow: hidden;
	}
	#time{
		position:absolute;
		color: rgb(0, 119, 193);
		width: 100%;
		margin: auto;
		font-size: 70px;
		#smaller{
			font-size: 40px;
			opacity: 0.0;
		}
	}
	#epic{
	    font-size: 200px;
	    position: absolute;
	    text-align: center;
	    top: 100px;
	    width: 100%;
	    @include transform(rotateX(30deg) scale(1));
	}
	.scrolling{
		@include transform(rotateX(35deg) scale(1.2));
		div{
			@include transform(rotateX(0) scale(1));
		}
		position: absolute;
		top: 430px;
		font-size: 100px;
		-webkit-backface-visibility: hidden;
		padding: 0 40px;
	}
}
.hide-dn{
	display:absolute;
	opacity: 0.0;
}
.lol{
	color: rgb(0, 119, 193);

}
#quit{
	position:absolute;
	font-size: 20px;
	color: rgb(0, 119, 193);
	width: 100%;
	height: 100%;
	border: blue;
	font-weight: normal;
	cursor: pointer;
	z-index: 999999;
}
