
@media all and (min-width: 1025px) {
        @import "large";
}
@media all and (min-width: 768px) and (max-width: 1024px){
        @import "medium";
}

@media all and (max-width: 767px){
        @import "small";
}
/* transitions: */
#page{
	transition-property: border, border-radius, box-shadow, -webkit-box-shadow;
	transition-duration:0.5s;
	-webkit-transition-property: border, border-radius, box-shadow, -webkit-box-shadow;
	-webkit-transition-duration:0.5s;
	
}
.no-flexbox{

	a, .workTypes, .workTypesSelected, footer a, footer div{
		transition-property: border, border-radius, box-shadow, -webkit-box-shadow, width, height, display, color, background-color;
		transition-duration:2s;
		-webkit-transition-property: border, border-radius, box-shadow, -webkit-box-shadow, width, height, display, color, background-color;
		-webkit-transition-duration:2s;
		transition-delay: 0s;
		-webkit-transition-delay: 0s;
	}
}
.workTypes{
	transition-property: font-size;
	transition-duration: 0.5s;
	$w-transition-property: font-size;
	$w-transition-duration: 0.5s;

}
