/*Code + Design + everything else by Andrew Luhring @ bisforbounce.com*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_failsafe\.scss}line{font-family:\000032}}
.no-flexbox .portfolioContent {
  min-width: 1015px;
  width: 90%;
  margin: auto;
  overflow: visible; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_failsafe\.scss}line{font-family:\000038}}
.no-flexbox #galleryDiv {
  width: 100%;
  display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_failsafe\.scss}line{font-family:\0000311}}
  .no-flexbox #galleryDiv > a {
    border: none;
    font-size: 1em;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    display: table-cell !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_failsafe\.scss}line{font-family:\0000319}}
  .no-flexbox #galleryDiv img {
    max-height: 200px;
    max-width: 315px;
    min-width: 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_failsafe\.scss}line{font-family:\0000325}}
.no-flexbox #centeringDiv {
  margin: auto;
  text-align: justify; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_failsafe\.scss}line{font-family:\0000329}}
  .no-flexbox #centeringDiv:after {
    content: " ";
    display: inline-block;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_failsafe\.scss}line{font-family:\0000334}}
  .no-flexbox #centeringDiv > a {
    border: none;
    font-size: 1em;
    text-align: center;
    display: inline-table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_failsafe\.scss}line{font-family:\0000341}}
.no-flexbox .workTypesSelected, .no-flexbox .workTypes {
  display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_failsafe\.scss}line{font-family:\0000343}}
  .no-flexbox .workTypesSelected p, .no-flexbox .workTypes p {
    display: table-cell; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_failsafe\.scss}line{font-family:\0000350}}
.no-flexbox footer {
  width: 50%;
  margin: auto;
  min-width: 620px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_failsafe\.scss}line{font-family:\0000354}}
  .no-flexbox footer > div:after {
    content: " ";
    display: inline-block;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_failsafe\.scss}line{font-family:\0000359}}
  .no-flexbox footer > div {
    margin: 0;
    min-height: 100%;
    text-align: justify; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_failsafe\.scss}line{font-family:\0000363}}
    .no-flexbox footer > div a {
      display: inline-table;
      white-space: normal;
      height: 75px;
      width: 75px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_failsafe\.scss}line{font-family:\0000368}}
      .no-flexbox footer > div a div {
        display: table-cell;
        text-align: center;
        vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\000031}}
.ie {
  behavior: url(/PIE.php);
  list-style-type: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\000034}}
  .ie * {
    behavior: url(/PIE.php); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\000038}}
* {
  border: 1px solid black !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\0000312}}
body {
  -browser-transform: scale(30%);
  font-family: 'Quicksand';
  font-weight: 300;
  font-size: 1em;
  width: 100%;
  background: #fefeff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\0000321}}
a {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\0000324}}
#IEroot {
  font-size: .75em;
  color: #aaaaaa; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\0000327}}
  #IEroot a {
    color: #5dc6f2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\0000332}}
header {
  margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\0000334}}
  header h1, header h2, header h3, header h4, header h5, header h6 {
    font: normal normal 200 80px 'Comfortaa', 'Helvetica-Neue', Arial, sans-serif;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\0000338}}
  header h1 {
    margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\0000341}}
  header h2 {
    font-size: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\0000344}}
  header .small {
    font-size: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\0000347}}
  header h3 {
    font-size: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\0000350}}
  header h4 {
    font-size: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\0000353}}
  header h5 {
    font-size: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\0000356}}
  header h6 {
    font-size: 20; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\0000362}}
.flexy {
  display: -webkit-flex !important;
  display: -moz-flex !important;
  display: -o-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\0000371}}
#portfolio {
  margin: auto;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\0000375}}
#galleryDiv {
  behavior: url(/PIE.php);
  flex-direction: row;
  display: -webkit-flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\0000379}}
  #galleryDiv img {
    min-width: 100px;
    height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\0000387}}
#centeringDiv {
  margin: auto;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: stretch;
  align-items: stretch;
  align-self: stretch;
  overflow: visible; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\00003101}}
  #centeringDiv a {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex: 1;
    flex: 1;
    -webkit-justify-content: center;
    justify-content: center;
    behavior: url(/PIE.php); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\00003111}}
    #centeringDiv a p {
      margin: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\00003117}}
footer {
  padding-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\00003119}}
  footer > div {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: stretch;
    align-items: stretch;
    align-self: stretch; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\00003130}}
  footer a {
    text-decoration: none;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_defaults\.scss}line{font-family:\00003138}}
    footer a p {
      margin: auto; }

@media all and (min-width: 1025px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\000031}}
  body {
    font-size: 1em;
    margin: 0.5em auto;
    width: 100%;
    font-family: 'Quicksand';
    font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\000039}}
  #page {
    border: solid 5px #7BE5E5;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 10px 15px 45px -5px #400339;
    box-shadow: 10px 15px 45px -5px #400339;
    max-width: 1300px;
    background-color: #fff;
    min-width: 1025px;
    margin: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\0000322}}
  header h1 {
    margin-top: 30px;
    color: #444;
    font-size: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\0000328}}
  #portfolio {
    margin: auto;
    width: 100%;
    min-width: 1025px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\0000334}}
  #centeringDiv {
    margin-bottom: 20px;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-align-items: stretch;
    align-items: stretch; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\0000346}}
    #centeringDiv a {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex: 1;
      flex: 1;
      -webkit-justify-content: center;
      justify-content: center;
      height: 200px;
      margin: 30px 20px;
      font-size: 24px;
      behavior: url(/PIE.php); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\0000363}}
      #centeringDiv a p {
        margin: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\0000368}}
  #galleryDiv {
    height: 400px;
    margin: auto;
    border: 1px solid #c2c2c2;
    border-radius: 50px 50px 50px 50px;
    width: 80%;
    behavior: url(/PIE.php);
    -webkit-align-content: space-around;
    -webkit-flex-flow: row nowrap;
    -webkit-justify-content: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\0000379}}
    #galleryDiv img {
      max-height: 300px;
      margin: auto;
      border: none;
      height: auto;
      max-width: 100%;
      max-height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\0000387}}
    #galleryDiv div {
      display: -webkit-flex;
      -webkit-flex-direction: column;
      -webkit-align-content: center;
      -webkit-justify-content: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\0000393}}
      #galleryDiv div p {
        -webkit-align-self: center;
        align-self: center;
        height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\0000398}}
    #galleryDiv a, #galleryDiv img.gallery, #galleryDiv img, #galleryDiv #temp, #galleryDiv #clickToClose {
      -webkit-align-self: center;
      align-self: center;
      height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\00003104}}
  #preview {
    margin: none;
    padding: 10%;
    overflow: hidden;
    text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\00003110}}
  #warning {
    margin-left: auto;
    margin-right: auto;
    padding: 15% 10%;
    overflow: hidden;
    text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\00003117}}
  #hint {
    margin-bottom: 0em;
    text-align: center;
    top: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\00003122}}
  .workTypes {
    width: 100%;
    height: 100%;
    border: 3px solid #7BE5E5;
    border-radius: 50px;
    background-color: #fff;
    font-size: 1.3em;
    display: table;
    behavior: url(/PIE.php); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\00003132}}
  .workTypes p {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\00003137}}
  .workTypesSelected {
    background-color: #f6f6f6;
    border: 3px solid #7BE5E5;
    border-radius: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\00003142}}
  footer {
    padding: 20px;
    margin: auto;
    height: 7em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\00003146}}
    footer > div {
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      -webkit-align-items: stretch;
      align-items: stretch;
      align-self: stretch;
      min-width: 100%;
      min-height: 100%;
      margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\00003163}}
    footer a {
      border-radius: 20%;
      border: 2px solid #7BE5E5;
      font-size: 1em;
      text-decoration: none;
      margin: 0% 10%;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex: 1;
      flex: 1;
      width: 0;
      -webkit-justify-content: center;
      justify-content: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\00003181}}
      footer a p {
        margin: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\00003186}}
  #clickToClose {
    margin: 20px auto;
    padding: 10px;
    min-width: 10%;
    max-width: 300px;
    border: 1px solid #CCC;
    clear: both;
    text-align: center;
    border-radius: 10px;
    cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\00003202}}
  .no-flexbox #centeringDiv, .no-flexbox #galleryDiv {
    transition-property: border, border-radius, box-shadow, -webkit-box-shadow, width, height, display, color, background-color;
    transition-duration: 0.25s;
    -webkit-transition-property: border, border-radius, box-shadow, -webkit-box-shadow, width, height, display, color, background-color;
    -webkit-transition-duration: 0.25s;
    transition-delay: 0s;
    -webkit-transition-delay: 0s; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\00003210}}
  .no-flexbox #galleryDiv {
    padding-top: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\00003213}}
  .no-flexbox .portfolioContent {
    min-width: 1015px;
    width: 90%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\00003217}}
  .no-flexbox #centeringDiv {
    min-width: 1010px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\00003220}}
    .no-flexbox #centeringDiv div {
      max-width: 200px;
      max-height: 200px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\00003225}}
    .no-flexbox #centeringDiv > a .workTypesSelected, .no-flexbox #centeringDiv > a .workTypes {
      border: 3px solid #7BE5E5;
      height: 200px;
      width: 200px;
      border-radius: 25%;
      transition-property: border, border-radius, box-shadow, -webkit-box-shadow, width, height, display, color, background-color;
      transition-duration: 2s;
      -webkit-transition-property: border, border-radius, box-shadow, -webkit-box-shadow, width, height, display, color, background-color;
      -webkit-transition-duration: 2s; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_large\.scss}line{font-family:\00003238}}
  .no-flexbox footer {
    min-width: 620px; } }
@media all and (min-width: 768px) and (max-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\000031}}
  body {
    font-size: 1em;
    margin: 0.5em auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\000035}}
  header h1 {
    margin-top: 10px;
    font-size: 80px;
    color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\0000310}}
  #centeringDiv {
    flex-direction: row;
    -webkit-align-items: stretch;
    align-items: stretch;
    margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\0000316}}
    #centeringDiv a {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex: 1;
      flex: 1;
      -webkit-justify-content: center;
      justify-content: center;
      margin: 30px 20px;
      font-size: 22px;
      behavior: url(/PIE.php); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\0000328}}
      #centeringDiv a p {
        margin: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\0000333}}
  #galleryDiv {
    height: 400px;
    margin: auto;
    border: 1px solid #c2c2c2;
    border-radius: 50px 50px 50px 50px;
    width: 80%;
    -webkit-align-content: space-around;
    -webkit-flex-flow: row nowrap;
    -webkit-justify-content: center;
    behavior: url(/PIE.php); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\0000343}}
    #galleryDiv img {
      max-height: 300px;
      margin: auto;
      border: none;
      height: auto;
      max-width: 100%;
      max-height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\0000351}}
    #galleryDiv div {
      display: -webkit-flex;
      -webkit-flex-direction: column;
      -webkit-align-content: center;
      -webkit-justify-content: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\0000357}}
      #galleryDiv div p {
        -webkit-align-self: center;
        align-self: center;
        height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\0000362}}
    #galleryDiv a, #galleryDiv img.gallery, #galleryDiv img, #galleryDiv #temp, #galleryDiv #clickToClose {
      -webkit-align-self: center;
      align-self: center;
      height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\0000368}}
  #preview {
    margin: none;
    padding: 10%;
    overflow: hidden;
    text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\0000374}}
  #warning {
    margin-left: auto;
    margin-right: auto;
    padding: 15% 10%;
    overflow: hidden;
    text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\0000381}}
  #hint {
    margin-bottom: 0em;
    text-align: center;
    top: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\0000386}}
  .workTypes {
    width: 100%;
    height: 100%;
    font-size: 1em;
    display: table;
    behavior: url(/PIE.php);
    height: 175px;
    background-color: #fff;
    border: 3px solid #7BE5E5;
    border-radius: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\0000398}}
  .workTypes p {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\00003103}}
  .workTypesSelected {
    background-color: #f6f6f6; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\00003108}}
  footer {
    padding-bottom: 20px;
    height: 7em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\00003111}}
    footer > div {
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      -webkit-align-items: stretch;
      align-items: stretch;
      align-self: stretch;
      min-width: 100%;
      min-height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\00003126}}
    footer a {
      border-radius: 20%;
      border: 2px solid #7BE5E5;
      font-size: 1em;
      text-decoration: none;
      margin: 0% 10%;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex: 1;
      flex: 1;
      width: 0;
      -webkit-justify-content: center;
      justify-content: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\00003143}}
      footer a p {
        margin: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\00003148}}
  #clickToClose {
    margin: 20px auto;
    padding: 10px;
    min-width: 10%;
    max-width: 300px;
    border: 1px solid #CCC;
    clear: both;
    text-align: center;
    border-radius: 10px;
    cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\00003163}}
  .no-flexbox #centeringDiv, .no-flexbox #galleryDiv {
    transition-property: border, border-radius, box-shadow, -webkit-box-shadow, width, height, display, color, background-color;
    transition-duration: 0.25s;
    -webkit-transition-property: border, border-radius, box-shadow, -webkit-box-shadow, width, height, display, color, background-color;
    -webkit-transition-duration: 0.25s;
    transition-delay: 2s;
    -webkit-transition-delay: 2s; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\00003171}}
  .no-flexbox .portfolioContent {
    min-width: 800px;
    width: 90%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\00003175}}
  .no-flexbox #galleryDiv {
    padding-top: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\00003178}}
  .no-flexbox #centeringDiv {
    min-width: 800px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\00003180}}
    .no-flexbox #centeringDiv div {
      max-height: 150px;
      max-width: 150px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\00003185}}
    .no-flexbox #centeringDiv > a .workTypesSelected, .no-flexbox #centeringDiv > a .workTypes {
      border: 2px solid #7BE5E5;
      height: 150px;
      width: 150px;
      border-radius: 25%;
      transition-property: border, border-radius, box-shadow, -webkit-box-shadow, width, height, display, color, background-color;
      transition-duration: 2s;
      -webkit-transition-property: border, border-radius, box-shadow, -webkit-box-shadow, width, height, display, color, background-color;
      -webkit-transition-duration: 2s; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_medium\.scss}line{font-family:\00003198}}
  .no-flexbox footer {
    min-width: 620px; } }
@media all and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\000031}}
  body {
    font-size: 0.5em;
    margin: 0.5em auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\000035}}
  header h1 {
    margin-top: 10px;
    font-size: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\000039}}
  #portfolio {
    margin: auto;
    width: 100%;
    min-width: 240px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\0000314}}
  #centeringDiv {
    -webkit-flex-flow: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    align-items: stretch;
    margin-top: 30px;
    height: 400px;
    padding: 20px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\0000322}}
    #centeringDiv a {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex: 1;
      flex: 1;
      -webkit-justify-content: center;
      justify-content: center;
      margin: 5px 20%;
      border-radius: 10px;
      font-size: 14px;
      behavior: url(/PIE.php); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\0000335}}
      #centeringDiv a p {
        margin: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\0000340}}
  #galleryDiv {
    min-height: 400px;
    margin: auto;
    width: 80%;
    border: 1px solid #c2c2c2;
    behavior: url(/PIE.php);
    -webkit-align-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\0000353}}
    #galleryDiv img {
      -webkit-align-self: flex-start;
      max-width: 100%;
      max-height: 100px;
      margin: auto;
      border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\0000360}}
    #galleryDiv div {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-align-content: center;
      align-content: center;
      -webkit-justify-content: center;
      justify-content: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\0000369}}
      #galleryDiv div p {
        -webkit-align-self: center;
        align-self: center;
        height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\0000375}}
    #galleryDiv a, #galleryDiv img.gallery, #galleryDiv img, #galleryDiv #temp, #galleryDiv #clickToClose {
      -webkit-align-self: center;
      align-self: center;
      height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\0000381}}
  #preview {
    margin: none;
    padding: 10%;
    overflow: hidden;
    text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\0000387}}
  #warning {
    margin-left: auto;
    margin-right: auto;
    padding: 15% 10%;
    overflow: hidden;
    text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\0000394}}
  #hint {
    margin-bottom: 0em;
    text-align: center;
    top: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\0000399}}
  #galleryDiv {
    padding-top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\00003102}}
  .workTypes {
    width: 100%;
    height: 75px;
    border-radius: 10px;
    font-size: .8em;
    border: 2px solid #7BE5E5;
    display: table;
    behavior: url(/PIE.php); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\00003111}}
  .workTypes p {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\00003116}}
  .workTypesSelected {
    background-color: #f6f6f6;
    -webkit-box-shadow: 0px 0px 0px 0px #400339;
    box-shadow: 0px 0px 0px 0px #400339; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\00003121}}
  footer {
    padding: 20px;
    margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\00003124}}
    footer > div {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column;
      flex-direction: column;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      -webkit-align-items: stretch;
      align-items: stretch;
      align-self: stretch;
      min-width: 100%;
      min-height: 100%;
      margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\00003140}}
    footer a {
      border-radius: 2px;
      border: 1px solid #7BE5E5;
      text-decoration: none;
      margin: 1% 10%;
      padding: 20px;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex: 1;
      flex: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\00003152}}
      footer a p {
        margin: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\00003157}}
  #clickToClose {
    margin: 20px auto;
    padding: 10px;
    min-width: 10%;
    max-width: 300px;
    border: 1px solid #CCC;
    clear: both;
    text-align: center;
    border-radius: 10px;
    cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\00003171}}
  .no-flexbox #centeringDiv, .no-flexbox #galleryDiv {
    min-width: 240px;
    width: 90%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\00003175}}
  .no-flexbox #galleryDiv {
    display: table !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\00003177}}
    .no-flexbox #galleryDiv a {
      display: table !important;
      margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\00003180}}
      .no-flexbox #galleryDiv a img {
        float: left;
        clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\00003186}}
  .no-flexbox .portfolioContent {
    min-width: 260px;
    width: 90%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\00003192}}
  .no-flexbox #centeringDiv > a {
    margin: 10px auto;
    display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\00003195}}
    .no-flexbox #centeringDiv > a .workTypesSelected, .no-flexbox #centeringDiv > a .workTypes {
      max-width: 450px;
      min-width: 220px;
      width: 90%;
      border: 2px solid #7BE5E5;
      height: 75px;
      border-radius: 20px;
      background: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\00003207}}
  .no-flexbox footer {
    min-width: 240px;
    width: 80%;
    padding: 0px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_small\.scss}line{font-family:\00003211}}
    .no-flexbox footer > div a {
      margin: 5px auto;
      width: 50%;
      height: 30px;
      border-radius: 15px;
      display: table; } }
/* transitions: */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_responsive\.scss}line{font-family:\0000313}}
#page {
  transition-property: border, border-radius, box-shadow, -webkit-box-shadow;
  transition-duration: 0.5s;
  -webkit-transition-property: border, border-radius, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 0.5s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_responsive\.scss}line{font-family:\0000322}}
.no-flexbox a, .no-flexbox .workTypes, .no-flexbox .workTypesSelected, .no-flexbox footer a, .no-flexbox footer div {
  transition-property: border, border-radius, box-shadow, -webkit-box-shadow, width, height, display, color, background-color;
  transition-duration: 2s;
  -webkit-transition-property: border, border-radius, box-shadow, -webkit-box-shadow, width, height, display, color, background-color;
  -webkit-transition-duration: 2s;
  transition-delay: 0s;
  -webkit-transition-delay: 0s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_responsive\.scss}line{font-family:\0000331}}
.workTypes {
  transition-property: font-size;
  transition-duration: 0.5s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_lightbox\.scss}line{font-family:\000032}}
#ui-lightbox-bottombar {
  margin-top: 0px;
  height: 0px;
  position: relative;
  z-index: 200;
  overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_lightbox\.scss}line{font-family:\0000310}}
#ui-lightbox-bottombar > #ui-lightbox-title-wrapper {
  margin: auto;
  height: auto;
  font-size: 20px;
  line-height: 20px;
  z-index: 999;
  overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_lightbox\.scss}line{font-family:\0000319}}
#ui-lightbox-title {
  position: relative;
  line-height: 40px;
  padding: 3% 10%;
  min-width: 300px;
  margin-left: 1px;
  margin-right: 1px;
  background-color: #e2e2e2;
  color: black;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_lightbox\.scss}line{font-family:\0000331}}
#ui-lightbox-button-prev, #ui-lightbox-button-next, #ui-lightbox-button-close, #ui-description {
  position: absolute;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  z-index: 300;
  border: 1px solid gray;
  display: inline-block;
  background-color: #E2E2E2;
  padding: 5px 15px;
  line-height: 20px;
  behavior: url(/PIE.php);
  overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_lightbox\.scss}line{font-family:\0000346}}
#ui-lightbox-button-prev {
  top: 50%;
  left: 5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_lightbox\.scss}line{font-family:\0000350}}
#ui-lightbox-button-next {
  top: 50%;
  right: 5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_lightbox\.scss}line{font-family:\0000354}}
#ui-description {
  top: 50%;
  left: 40%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/_lightbox\.scss}line{font-family:\0000358}}
#ui-lightbox-button-close {
  padding: 5px 15px;
  right: 5%;
  top: 17px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/style\.scss}line{font-family:\000038}}
.no-flexbox #galleryDiv {
  width: 100%;
  display: table; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/style\.scss}line{font-family:\0000311}}
.no-flexbox #galleryDiv.flexy {
  display: table !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/style\.scss}line{font-family:\0000314}}
.navHint {
  position: absolute;
  width: 200px;
  z-index: 999;
  background: transparent;
  padding: 15px 0px 15px 0px;
  margin-left: -30px;
  behavior: url(/PIE.php); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/style\.scss}line{font-family:\0000324}}
.navHint p {
  text-align: center;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/style\.scss}line{font-family:\0000329}}
#galleryDiv > div:last-of-type {
  margin: auto;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/style\.scss}line{font-family:\0000334}}
.cf {
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/style\.scss}line{font-family:\0000337}}
.cf:before, .cf:after {
  content: "";
  display: table; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/style\.scss}line{font-family:\0000341}}
.cf:after {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/style\.scss}line{font-family:\0000344}}
.unhide {
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/style\.scss}line{font-family:\0000348}}
.hide {
  display: none !important;
  overflow: hidden;
  opacity: 0;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/style\.scss}line{font-family:\0000354}}
a {
  color: #55D; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/style\.scss}line{font-family:\0000357}}
#galleryDiv img:hover, #galleryDiv img {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nerdlife\/Sites\/portfolio\/sass\/style\.scss}line{font-family:\0000370}}
#galleryDIv img:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5); }
