.peapod_logo {
	border: none;
	@include flex(4);
	font-family: "EB Garamond";
	font-size: 19.0rem;
	margin: 0;
	width: 100%;
	> span {
		border: none !important;
		display: inline-block;
		left: -3.5rem;
		line-height: 0.7;
		position: relative;
		text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff;
		top: -3.0rem;
	}
}
.logo_container {
	border: none;
}
.text {
	border: none;
	@include flex(1);
	text-align: center;
	width: 56.0rem;
	&:nth-of-type(2) {
		font-size: 7.5rem;
		font-family: "EB Garamond";
		color: black;
		left: -2.0rem;
		position: relative;
		line-height: 0.5;
	}
	&:nth-of-type(3) {
		color: black;
		font-size: 4.5rem;
		font-family: "Avenir";
		left: -4.0rem;
		letter-spacing: -0.5px;
		line-height: 0.5;
		position: relative;
		top: 2.4rem;
		white-space: nowrap;
	}
}
.driver_window {
	position: absolute;
	top: 18.5rem;
	width: 23.5rem;
	height: 20.5rem;
	border-radius: 2.0rem;

	.drivers_window {
		height: calc(100% - 2px);
		width: 50%;
		left: 50%;
		position: relative;
		border-radius: 2.0rem;
	}
}
.body,
.front_window {
	height: $truck_height;
}
.top_thing {
	border-radius: $border_radius;
	height: 3.5rem;
	left: -3.0rem;
	position: relative;
	width: 105%;
}
.logo_container {
	width: 56.0rem;
	margin: auto;
	@include display(flex);
	flex-direction: column;
	@include justify-content(center);
	height: 35.0rem;
}
.middle_thing {
	position: relative;
	top: 2.0rem;
	left: 3.0rem;
	height: 2.5rem;
}


.body{
	left: 28.5rem;
	position: absolute;
	background: $unfinished_color;
	width: $body_length;
	border: $border_side solid $unfinished_color;
	@include prefixer(transform-origin, top, $browsers);

	&.top_view{
		@include prefixer(transform, rotateX($right_angle) translateY(-$truck_outer_width), $browsers);
	}
	&.bottom_view{
		@include bottomTransform(body);

	}
	&.driver_side{
		z-index: 0;
		border-left: none;
		@include prefixer( transform, $null_transform, $browsers);
		.driver_window{
			left: 3.0rem;
		}
		&.inside{
			@include prefixer(transform, $driverSide_inside_fixed, $browsers);
		}
	}
	&.passenger_side{
		.driver_window{
			right: 3.0rem;
		}
		@include prefixer(transform,  rotateY($half_turn) $passengerSide_outside, $browsers);
		&.inside{
			@include prefixer(transform,  rotateY($half_turn) $passengerSide_inside, $browsers);
		}
	}
	&.front_side{
		display: none;
	}
	&.rear_side{
		@include prefixer(transform-origin, right, $browsers);
		@include prefixer(transform, translateX($body_half_length_outer) rotateY(-$right_angle), $browsers);
		width: $truck_height;
	}
}


