$truck: #28CC49;
$unfinished_color: rgba(100,100,100, 0.3);
$tire                : rgba(39,40,43,1);
$tire2              : radial-gradient(center, ellipse cover, rgba(39,40,43,1) 79%,rgba(39,40,43,1) 79%,rgba(0,0,0,1) 90%);
$rims              : radial-gradient(center, ellipse cover, rgba(206,216,228,1) 40%,rgba(254,254,254,1) 80%,rgba(206,216,228,1) 90%,rgba(177,184,194,1) 95%,rgba(206,216,228,1) 100%);
$rims2            : radial-gradient(center, ellipse cover,  rgba(206,216,228,1) 23%,rgba(206,216,228,1) 44%,rgba(254,254,254,1) 61%,rgba(206,216,228,1) 68%);
$bolt               : radial-gradient(center, ellipse cover, rgba(254,254,254,1) 7% ,   rgba(206,216,228,1) 24% ,   rgba(206,216,228,1) 80%,   rgba(18,19,21,1) 91%);
$bolt2            : radial-gradient(center, ellipse cover ,   rgba(254,254,254,1) 18%,   rgba(206,216,228,1) 39% ,   rgba(206,216,228,1) 80% ,   rgba(18,19,21,1) 91% ,   rgba(206,216,228,1) 95%);
