/*
	.controls are binded with angular. also sets non-default appearance because swag.
*/
.controls, .controls fieldset{
	@include align-items(center);
	border: none !important;
	@include display(flex);
	position:relative;
	z-index: 2;
	//	flex: 1;

}
.controls{
	//flex-direction: column;
	@include flex-direction(row);
	@include justify-content(center);

	input[type="range"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		height: 2px;
		background: black;
		margin: 2rem 0;
		width: 30rem;
		overflow: visible;
	}
	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: black;
		height: 30px;
		width: 5px;
	}
	label{
		width: 10rem;
		margin: 0 0 0 2rem;
	}
}
.controls fieldset{
	margin: 0 0 20px 0;
	*{
		border: none !important;
	}
}