;
.engine {
	border-top: $border_side solid $truck;
	height: $engine_height;
	left: 5.5rem;
	position: absolute;
	top: 39rem;
	width: $engine_width;
	&.driver_side {
		border-left: 0;
		border-right: 0;
		border-bottom: 0;
		border-top-left-radius: 1rem;
		@include prefixer(transform, rotateZ($engine_offset_neg), $browsers );
	}
	&.passenger_side {
		border-bottom: $border_side solid $truck;
		border: 0;
		@include prefixer(transform, rotateX($half_turn) rotateZ($engine_offset) translateZ($truck_outer_width), $browsers);
	}
	&.top_view {
		border: $border_side solid $truck;
		height: $truck_height;
		@include prefixer(transform-origin, top, $browsers);
		@include prefixer(transform, rotateX($right_angle) rotateY($engine_offset_neg) translateX($diff_engine) translateY(-$truck_width_border) , $browsers);
	}
}
.engine_straight {
	border-radius: 3.2rem 3.2rem 2.5rem 2.5rem;
	height: $engine_height;
	left: 12px;
	position: absolute;
	top: $engine_top;
	width: 9.9rem;
	&.driver_side {
		top: $engine_top_amount  + 1 + rem;
		border-top: 0;
		border-right: 0;
		border-bottom: $border_side solid black;
		border-left: $border_side solid black;
		@include nullTransform;
	}
	&.passenger_side {
		top: $engine_top_amount  + 1 + rem;
		border-top: $border_side solid black;
		border-right: 0;
		border-bottom: 0;
		border-left: $border_side solid black;
		-webkit-transform: rotateX(180deg) rotateZ(0deg) translateZ(68rem);
	}
	&.bottom_side {
		border: $border_side solid $truck;
		height: $truck_width;
		@include prefixer(transform, $xRightAngle  translateY(-$truck_outer_width) translateZ($bottom_tZ), $browsers);
		-webkit-transform-origin: top;
	}
	&.front_side {
		border:$border_side solid $truck;
		-webkit-transform-origin: top;
		width: $truck_width;
		-webkit-transform: rotateZ(0deg) rotateY(90deg) translateX(35rem) translateY(0) translateZ(-34rem);
	}
}
