.front_window_inner {
	width: 6.0rem;
	margin-left: 1.0rem;
	position: absolute;
	height: 21.5rem;
	//top: 15.0rem;
	//top: 15 - $truck_height_amount + rem;
	//top: -51.8rem;
	$old_top : 15;
	top: $old_top  - $truck_height_amount + $border_side_amount + 0.2 + rem;
	left: -20.5rem;


 //68
//-15 + $border_side_amount
 //53
	border-top-left-radius: 4.0rem;
	border-top-right-radius: 4.0rem;
	border-bottom-left-radius: 4.0rem;

	&:last-of-type {
		border-radius: 2.0rem;
		@include prefixer(transform, rotate(-16.4deg) translateX(0) translateY(1.0rem), $browsers);
		border-left: none;
		border-top: none;
		width: 8.0rem;
		height: 22.5rem;
		border-bottom-left-radius: 1.0rem;
	}
	&:first-of-type {
		width: 5.5rem;
		border-right: none;
		border-bottom: none;
	}
}

.front_window {
	width: 0 !important;
	height: 0 !important;
	border-right: 0 !important;
	border-left     :   21.5rem solid $unfinished_color / 2;
	border-top      : $truck_height solid transparent;
	border-bottom   : 0.01rem solid transparent;
	//transform:rotate(16.4deg);

	position: absolute;
	left: 17.0rem;
	top: 1.2rem;
	//width: 21.5rem;
	&.driver_side{
		@include prefixer(transform, rotate(17.4deg) translateX(0.9rem), $browsers);
	}
	&.passenger_side{
		@include prefixer(transform, rotate(17.4deg) translateX(0.9rem) translateZ(-$truck_outer_width), $browsers);
	}
}
.front_window .drivers_window {
	height: 23.0rem;
}
