


/*
	wheels and tires

	(all require flexbox)
	:hover          -   rotates the wheels

	Styleguide 1.0
*/
.wheel,  .tires,  .hubcap,  .inner_hubcap,  .bolt-circle {
	border-radius: 50%;
	@include display(flex);
	@include justify-content(center);
	@include align-content(center);
	@include align-items(center);
	position: relative;
}
.bolt,  .innermost_hubcap_thing {
	border-radius: 50%;
}
.wheel {
	border-bottom: none;
	border-left: none;
	border-right: none;
	width: $wheel;
	height: $wheel;
	top: $wheel_top;
	position: absolute;
	z-index: 3;
	@include display(flex);
	@include align-content(center);
	@include align-items(center);
	@include justify-content(center);
	&.back_view{
		border: none;
	}
	&:hover {
		.tires{
			@include tireRotation;
		}
	}
	>div {
		display: block;
		position: relative;
		width: $tire_diameter;
		height: $tire_diameter;
		top: 1.0rem;
		border: none;
	}
}

.wheel.front_wheel {
	left: $front_wheel;
	top: $wheel_top;
}
.tire.front_wheel {

	left: $front;
}

.rear_wheel {
	left: $rear_wheel;
}
.tire.rear_wheel {
	//$rear : $rear_wheel_amount + $radius_amount ;
	left: $rear;// + rem;

}
.horizontal{
	@include transform(rotateX($right_angle) rotateY(0) rotateZ($right_angle));
}
.vertical{
	@include transform(rotateY($right_angle));
}

.driver_side.front_view{
	@include prefixer(transform, rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0) translateY(0) translateZ(1px), $browsers);
}
.driver_side.horizontal {
	@include driverSide(norm, horizontal, outside);
}
.driver_side.vertical {
	@include driverSide(norm, vertical, outside);
}
.passenger_side.back_view{
	@include passengerSide(rear, norm, outside);
}
.passenger_side.front_view{
	@include passengerSide(norm, norm, outside);
}
.passenger_side.horizontal {
	@include passengerSide(rear, horizontal, outside);
}
.passenger_side.vertical {
	@include passengerSide(rear, vertical, outside);
}

.passenger_side.front_view.inside{
	@include passengerSide(norm, norm, inside);
}
.passenger_side.back_view.inside{
	@include passengerSide(rear, norm, inside);
}

.driver_side.front_view.inside {
	@include driverSide(norm, norm, inside);
}
.driver_side.back_view.inside{
	@include driverSide(rear, norm, inside);
}


.tire{
	height: $tire_diameter;
	width: $tire_depth;
	position: absolute;
	top: $tire_top;
	border: none;
	background: $tire;
}
.tires {
	width: $tire_diameter;
	height: $tire_diameter;
	position: absolute;
	z-index: 3;
	background: $tire;
	border: none;
	@include background-image($tire2);
	@include transition(transform 5s);
	&:hover {
		@include transition(transform 5s);
		@include transform(rotate(-180deg));
	}
}
.hubcap {
	z-index: 4;
	width: 15.0rem;
	height: 15.0rem;
	@include background-image($rims2);
}
.inner_hubcap {
	z-index: 5;
	width: 11.5rem;
	height: 11.5rem;
}
.innermost_hubcap_thing {
	border-bottom: none;
	height: 3.9rem;
	left: -2px;
	margin: auto;
	position: absolute;
	top: 1.7rem;
	width: 3.7rem;
}
.bolt-circle {
	border: none;
	height: 8.1rem;
	width: 8.1rem;
	@include display(flex);
	@include transform(rotate(15deg));
}
.bolt-spacer {
	border: none;
	@include display(flex);
	position: relative;
	flex-direction: column;
	width: 1.5rem;
	height: 7.5rem;
	margin: 1px 3px;
	&:nth-of-type(2) {
		-webkit-transform: rotate(180deg);
	}
}
.bolt {
	position: relative;
	@include background-image($bolt2);
	@include flex(1);
	&:nth-of-type(1) {
		top: 2px;
		left: 1px;
	}
	&:nth-of-type(2) {
		top: -3px;
		left: -1.5rem;
	}
	&:nth-of-type(3) {
		left: -2.1rem;
		top: -1px;
	}
	&:nth-of-type(4) {
		left: -1.7rem;
		top: 2px;
	}
	&:nth-of-type(5) {
		left: 0;
	}
}