.col2{
	.top{
		border-bottom:1px solid $border_clr;
		padding-bottom: 20px;
	}
	.subsec_content{
		margin:0 0px;
	}
	.subsec_btn{
		width:200px;
	}
	.subsec.bottom{
		border-bottom:1px solid $border_clr;
	}
}
.main_txt, .main_img{

}
.main_txt{
	padding:0 0 0 20px;
	.page_headline{
		width:100%;
	}
}

.main_img{
	img{
		max-width:320px;
		width:100%;
	}
	figcaption{
		font-size: 16px;
		opacity: 1;
		position: static;
	}
}
.test{
	.main_img{
		border: 1px solid $border_clr;
		height:320px;

	}
}

.no-flexbox{
	#d2v1{
		.main_txt{
			float: right;
		}
		.main_img{
			float:left;
		}
	}
}
.flexbox{
	.col2{
		.top{
			display:flex;
			flex-direction: row-reverse;
		}
		.subsec_content{
			align-content: center;
			display:flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	.main_txt, .main_img{
		display: flex;
		flex:1;
		flex-direction: column;
	}
	.main_txt{
		align-content: flex-start;
		justify-content: flex-start;
	}
}


@import "d2A_v1";