
figure.top_banner{
	border: 1px solid black;
	img.full{
		display: block;
		max-width: 660px;
		width:100%;
		margin: 0 auto 20px;
	}
	&.rem_ok{
		margin: 0 auto 2rem;
		max-width: 66rem;
	}
}
#d7v1{
	figure{
		figcaption{
			width: 100%;
			text-align: center;
		}
	}
	.subsec_content{
		margin: 0 20px;
		>header h1{
			font-size: 30px;
			color:$green;
		}
	}
	.subsec_fig{
		position:relative;
		flex:1;
		img{
			//width: 207px;
			width:100%;
			//temporary:
			height: 207px;
		}
		&.rem_ok{
			//width: 20.7rem;
		}
	}
	.subsec_btn{
		width:194px;
	}
}
.flexbox #d7v1{
	.subsec_content{
		display: flex;
		flex-direction: column;
		flex: 2;
	}
	section.subsec{
		flex:1;
		display: flex;
		&.right{
			flex-direction:row-reverse;
			padding-left: 0;
			.subsec_fig{
				margin:0px 0px 20px 20px;
			}
			.subsec_txt{
				padding-left: 0px;
			}
			.subsec_btn{
			//	align-self: flex-end;
			}
		}
		&.left{
			flex-direction:row;
			padding-left: 0;
			.subsec_fig{
				margin:0px 20px 20px 0;
			}
			.subsec_btn{
			//	align-self: flex-start;
			}
		}
	}
}
.no-flexbox #d7v1{
	.subsec_fig{
		width: 207px;
	}
	.subsec_content{
		width: calc(100% - 210px);
	}
	section.subsec{
		@include cf;
		&.left{
			.subsec_fig{
				float:left;
				margin:20px 20px 20px 0;
			}
			.subsec_content{
				float:right;
			}
			.subsec_btn{
				float:left;
			}
		}
		&.right{
			.subsec_fig{
				float:right;
			}
			.subsec_content{
				float:left;
			}
			.subsec_btn{
				float:right;
			}
			.subsec_txt{
				padding-left: 0px;
			}
		}
	}
	.subsec_btn{
		@include cf;
	}
}

