//noinspection ALL
$b : #515151;
$o: #ff5a36;
$blu: #0272cd;
//$peapodGreen: #5e8d15;
$peapodGreen: #0c5d2a;
$w : #f2f2f2;


$gridColor: white;
$gridColorAlt: $w;
$strokeColor : $b;
$dude : $peapodGreen;

#board{
	position:relative;
}
#game{
	> header{
		margin: 4rem;
		
	}
}
#podder{
	border: 5px solid $strokeColor;
	@include box-sizing("border-box");
	@include display(flex);
	@include flex-direction(column);
	height: 100%;
	margin:auto;
	position: absolute;
	z-index: 1;

}
.row{
	border:1px solid $gridColor;
	flex:1;
	@include display(flex);
	@include flex-direction(row);
	
	&:nth-of-type(odd){
		
		.col{	
			&:nth-of-type(odd){
				background: $gridColor;		
			}
			&:nth-of-type(even){
				background: $gridColorAlt;
			}
		}
	}
	&:nth-of-type(even){
		
		.col{	
			&:nth-of-type(odd){
				background: $gridColorAlt;
				
			}
			&:nth-of-type(even){
				background: $gridColor;
			}
		}
	}
	
}
.col{
	flex: 1;
	border: 1px solid $strokeColor;
	
}
#dude{
	background:$dude;
	border-radius: 50%;
	position: absolute;
	bottom: 0rem;
	z-index: 4;	
}
