html {
  font-size: 62.5%;
  color: black;
}

body {
  background: white;
  font-size: 16px;
  font-family: 'Helvetica Neue';
  font-weight: 300;
  padding: 50px;
}

a {
  text-decoration: none;
  transition: all 1s;
}
a:hover {
  transition: all 1s;
}

ul, li {
  list-style-type: none;
}

ul, h1, h2, h3, h4, h5, h6, ul, li, ol, p, hr, figure, figcaption, blockquote, menu, dir, dl, dt, dd, defs, details, summary, form, fieldset, input {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-after: 0;
  -moz-margin-before: 0;
  -moz-margin-after: 0;
  -moz-margin-start: 0;
  -moz-margin-end: 0;
  -moz-padding-start: 0;
  -moz-padding-end: 0;
  -moz-padding-before: 0;
  -moz-padding-after: 0;
  -ms-margin-before: 0;
  -ms-margin-after: 0;
  -ms-margin-start: 0;
  -ms-margin-end: 0;
  -ms-padding-start: 0;
  -ms-padding-end: 0;
  -ms-padding-before: 0;
  -ms-padding-after: 0;
  -o-margin-before: 0;
  -o-margin-after: 0;
  -o-margin-start: 0;
  -o-margin-end: 0;
  -o-padding-start: 0;
  -o-padding-end: 0;
  -o-padding-before: 0;
  -o-padding-after: 0;
}

header h1 {
  font-weight: 300;
}

figure {
  display: block;
}

strong {
  font-weight: 900;
}

/*
	bottomTransform takes 1 arguement -the body part
	can be:

	Rotation:
	engine                      :  X:-90     Y: 0        z:0
	engine_straight     :   X:90      y: -18      z:0
	body                        :   X:90      y:0            z:0

	Translation:
	engine                      :  X:0     Y: 0        z:680
	engine_straight     :   X:-25    y: -truck width      z:0
	body                        :   X:0      y: -truck width        z:0
*/
body, html {
  border: none;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

div {
  border: 1px solid black;
}

#wrapper {
  -moz-perspective: 400rem;
  -webkit-perspective: 400rem;
  perspective: 400rem;
}

#truck {
  border: none;
  width: 175rem;
  height: 90rem;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
  position: relative;
  -moz-transition: -moz-transform 4s;
  -o-transition: -o-transform 4s;
  -webkit-transition: -webkit-transform 4s;
  transition: transform 4s;
}

[ng-app*='truck'] {
  position: relative;
}

#zderp {
  border: none;
  position: relative;
  z-index: 1;
}

.ng-scope {
  overflow: hidden;
}

/*
	.controls are binded with angular. also sets non-default appearance because swag.
*/
.controls, .controls fieldset {
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  border: none !important;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  position: relative;
  z-index: 2;
}

.controls {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.controls input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: black;
  margin: 2rem 0;
  width: 30rem;
  overflow: visible;
}
.controls input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: black;
  height: 30px;
  width: 5px;
}
.controls label {
  width: 10rem;
  margin: 0 0 0 2rem;
}

.controls fieldset {
  margin: 0 0 20px 0;
}
.controls fieldset * {
  border: none !important;
}

/*
	wheels and tires

	(all require flexbox)
	:hover          -   rotates the wheels

	Styleguide 1.0
*/
.wheel, .tires, .hubcap, .inner_hubcap, .bolt-circle {
  border-radius: 50%;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: relative;
}

.bolt, .innermost_hubcap_thing {
  border-radius: 50%;
}

.wheel {
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 27rem;
  height: 27rem;
  top: 55rem;
  position: absolute;
  z-index: 3;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.wheel.back_view {
  border: none;
}
.wheel:hover .tires {
  -webkit-transform: rotate(-900deg) translateZ(0);
  -moz-transform: rotate(-900deg) translateZ(0);
  -ms-transform: rotate(-900deg) translateZ(0);
  -o-transform: rotate(-900deg) translateZ(0);
  transform: rotate(-900deg) translateZ(0);
}
.wheel > div {
  display: block;
  position: relative;
  width: 22rem;
  height: 22rem;
  top: 1.0rem;
  border: none;
}

.wheel.front_wheel {
  left: 10rem;
  top: 55rem;
}

.tire.front_wheel {
  left: 21rem;
}

.rear_wheel {
  left: 120rem;
}

.tire.rear_wheel {
  left: 131rem;
}

.horizontal {
  -moz-transform: rotateX(90deg) rotateY(0) rotateZ(90deg);
  -ms-transform: rotateX(90deg) rotateY(0) rotateZ(90deg);
  -o-transform: rotateX(90deg) rotateY(0) rotateZ(90deg);
  -webkit-transform: rotateX(90deg) rotateY(0) rotateZ(90deg);
  transform: rotateX(90deg) rotateY(0) rotateZ(90deg);
}

.vertical {
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}

.driver_side.front_view {
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0) translateY(0) translateZ(1px);
  -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0) translateY(0) translateZ(1px);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0) translateY(0) translateZ(1px);
  -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0) translateY(0) translateZ(1px);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0) translateY(0) translateZ(1px);
}

.driver_side.horizontal {
  -webkit-transform: translateZ(-2.5rem) rotateX(90deg) rotateY(0) rotateZ(90deg);
  -moz-transform: translateZ(-2.5rem) rotateX(90deg) rotateY(0) rotateZ(90deg);
  -ms-transform: translateZ(-2.5rem) rotateX(90deg) rotateY(0) rotateZ(90deg);
  -o-transform: translateZ(-2.5rem) rotateX(90deg) rotateY(0) rotateZ(90deg);
  transform: translateZ(-2.5rem) rotateX(90deg) rotateY(0) rotateZ(90deg);
}

.driver_side.vertical {
  -webkit-transform: translateZ(-2.5rem) rotateY(90deg);
  -moz-transform: translateZ(-2.5rem) rotateY(90deg);
  -ms-transform: translateZ(-2.5rem) rotateY(90deg);
  -o-transform: translateZ(-2.5rem) rotateY(90deg);
  transform: translateZ(-2.5rem) rotateY(90deg);
}

.passenger_side.back_view {
  -webkit-transform: translateZ(-63rem);
  -moz-transform: translateZ(-63rem);
  -ms-transform: translateZ(-63rem);
  -o-transform: translateZ(-63rem);
  transform: translateZ(-63rem);
}

.passenger_side.front_view {
  -webkit-transform: translateZ(-68rem);
  -moz-transform: translateZ(-68rem);
  -ms-transform: translateZ(-68rem);
  -o-transform: translateZ(-68rem);
  transform: translateZ(-68rem);
}

.passenger_side.horizontal {
  -webkit-transform: translateZ(-65.5rem) rotateX(90deg) rotateY(0) rotateZ(90deg);
  -moz-transform: translateZ(-65.5rem) rotateX(90deg) rotateY(0) rotateZ(90deg);
  -ms-transform: translateZ(-65.5rem) rotateX(90deg) rotateY(0) rotateZ(90deg);
  -o-transform: translateZ(-65.5rem) rotateX(90deg) rotateY(0) rotateZ(90deg);
  transform: translateZ(-65.5rem) rotateX(90deg) rotateY(0) rotateZ(90deg);
}

.passenger_side.vertical {
  -webkit-transform: translateZ(-65.5rem) rotateY(90deg);
  -moz-transform: translateZ(-65.5rem) rotateY(90deg);
  -ms-transform: translateZ(-65.5rem) rotateY(90deg);
  -o-transform: translateZ(-65.5rem) rotateY(90deg);
  transform: translateZ(-65.5rem) rotateY(90deg);
}

.passenger_side.front_view.inside {
  -webkit-transform: translateZ(-67rem);
  -moz-transform: translateZ(-67rem);
  -ms-transform: translateZ(-67rem);
  -o-transform: translateZ(-67rem);
  transform: translateZ(-67rem);
}

.passenger_side.back_view.inside {
  -webkit-transform: translateZ(-64rem);
  -moz-transform: translateZ(-64rem);
  -ms-transform: translateZ(-64rem);
  -o-transform: translateZ(-64rem);
  transform: translateZ(-64rem);
}

.driver_side.front_view.inside {
  -webkit-transform: translateZ(-1px);
  -moz-transform: translateZ(-1px);
  -ms-transform: translateZ(-1px);
  -o-transform: translateZ(-1px);
  transform: translateZ(-1px);
}

.driver_side.back_view.inside {
  -webkit-transform: translateZ(-4rem);
  -moz-transform: translateZ(-4rem);
  -ms-transform: translateZ(-4rem);
  -o-transform: translateZ(-4rem);
  transform: translateZ(-4rem);
}

.tire {
  height: 22rem;
  width: 5rem;
  position: absolute;
  top: 58.8rem;
  border: none;
  background: #27282b;
}

.tires {
  width: 22rem;
  height: 22rem;
  position: absolute;
  z-index: 3;
  background: #27282b;
  border: none;
  background-image: -moz-radial-gradient(center, ellipse cover, #27282b 79%, #27282b 79%, #000000 90%);
  background-image: -o-radial-gradient(center, ellipse cover, #27282b 79%, #27282b 79%, #000000 90%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #27282b 79%, #27282b 79%, #000000 90%);
  background-image: radial-gradient(center, ellipse cover, #27282b 79%, #27282b 79%, #000000 90%);
  -moz-transition: -moz-transform 5s;
  -o-transition: -o-transform 5s;
  -webkit-transition: -webkit-transform 5s;
  transition: transform 5s;
}
.tires:hover {
  -moz-transition: -moz-transform 5s;
  -o-transition: -o-transform 5s;
  -webkit-transition: -webkit-transform 5s;
  transition: transform 5s;
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.hubcap {
  z-index: 4;
  width: 15.0rem;
  height: 15.0rem;
  background-image: -moz-radial-gradient(center, ellipse cover, #ced8e4 23%, #ced8e4 44%, #fefefe 61%, #ced8e4 68%);
  background-image: -o-radial-gradient(center, ellipse cover, #ced8e4 23%, #ced8e4 44%, #fefefe 61%, #ced8e4 68%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #ced8e4 23%, #ced8e4 44%, #fefefe 61%, #ced8e4 68%);
  background-image: radial-gradient(center, ellipse cover, #ced8e4 23%, #ced8e4 44%, #fefefe 61%, #ced8e4 68%);
}

.inner_hubcap {
  z-index: 5;
  width: 11.5rem;
  height: 11.5rem;
}

.innermost_hubcap_thing {
  border-bottom: none;
  height: 3.9rem;
  left: -2px;
  margin: auto;
  position: absolute;
  top: 1.7rem;
  width: 3.7rem;
}

.bolt-circle {
  border: none;
  height: 8.1rem;
  width: 8.1rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.bolt-spacer {
  border: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 1.5rem;
  height: 7.5rem;
  margin: 1px 3px;
}
.bolt-spacer:nth-of-type(2) {
  -webkit-transform: rotate(180deg);
}

.bolt {
  position: relative;
  background-image: -moz-radial-gradient(center, ellipse cover, #fefefe 18%, #ced8e4 39%, #ced8e4 80%, #121315 91%, #ced8e4 95%);
  background-image: -o-radial-gradient(center, ellipse cover, #fefefe 18%, #ced8e4 39%, #ced8e4 80%, #121315 91%, #ced8e4 95%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #fefefe 18%, #ced8e4 39%, #ced8e4 80%, #121315 91%, #ced8e4 95%);
  background-image: radial-gradient(center, ellipse cover, #fefefe 18%, #ced8e4 39%, #ced8e4 80%, #121315 91%, #ced8e4 95%);
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
.bolt:nth-of-type(1) {
  top: 2px;
  left: 1px;
}
.bolt:nth-of-type(2) {
  top: -3px;
  left: -1.5rem;
}
.bolt:nth-of-type(3) {
  left: -2.1rem;
  top: -1px;
}
.bolt:nth-of-type(4) {
  left: -1.7rem;
  top: 2px;
}
.bolt:nth-of-type(5) {
  left: 0;
}

.front_window_inner {
  width: 6.0rem;
  margin-left: 1.0rem;
  position: absolute;
  height: 21.5rem;
  top: -51.8rem;
  left: -20.5rem;
  border-top-left-radius: 4.0rem;
  border-top-right-radius: 4.0rem;
  border-bottom-left-radius: 4.0rem;
}
.front_window_inner:last-of-type {
  border-radius: 2.0rem;
  -webkit-transform: rotate(-16.4deg) translateX(0) translateY(1rem);
  -moz-transform: rotate(-16.4deg) translateX(0) translateY(1rem);
  -ms-transform: rotate(-16.4deg) translateX(0) translateY(1rem);
  -o-transform: rotate(-16.4deg) translateX(0) translateY(1rem);
  transform: rotate(-16.4deg) translateX(0) translateY(1rem);
  border-left: none;
  border-top: none;
  width: 8.0rem;
  height: 22.5rem;
  border-bottom-left-radius: 1.0rem;
}
.front_window_inner:first-of-type {
  width: 5.5rem;
  border-right: none;
  border-bottom: none;
}

.front_window {
  width: 0 !important;
  height: 0 !important;
  border-right: 0 !important;
  border-left: 21.5rem solid rgba(50, 50, 50, 0.3);
  border-top: 68rem solid transparent;
  border-bottom: 0.01rem solid transparent;
  position: absolute;
  left: 17.0rem;
  top: 1.2rem;
}
.front_window.driver_side {
  -webkit-transform: rotate(17.4deg) translateX(0.9rem);
  -moz-transform: rotate(17.4deg) translateX(0.9rem);
  -ms-transform: rotate(17.4deg) translateX(0.9rem);
  -o-transform: rotate(17.4deg) translateX(0.9rem);
  transform: rotate(17.4deg) translateX(0.9rem);
}
.front_window.passenger_side {
  -webkit-transform: rotate(17.4deg) translateX(0.9rem) translateZ(-70rem);
  -moz-transform: rotate(17.4deg) translateX(0.9rem) translateZ(-70rem);
  -ms-transform: rotate(17.4deg) translateX(0.9rem) translateZ(-70rem);
  -o-transform: rotate(17.4deg) translateX(0.9rem) translateZ(-70rem);
  transform: rotate(17.4deg) translateX(0.9rem) translateZ(-70rem);
}

.front_window .drivers_window {
  height: 23.0rem;
}

.peapod_logo {
  border: none;
  -webkit-flex: 4;
  -moz-flex: 4;
  flex: 4;
  font-family: "EB Garamond";
  font-size: 19.0rem;
  margin: 0;
  width: 100%;
}
.peapod_logo > span {
  border: none !important;
  display: inline-block;
  left: -3.5rem;
  line-height: 0.7;
  position: relative;
  text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff;
  top: -3.0rem;
}

.logo_container {
  border: none;
}

.text {
  border: none;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  text-align: center;
  width: 56.0rem;
}
.text:nth-of-type(2) {
  font-size: 7.5rem;
  font-family: "EB Garamond";
  color: black;
  left: -2.0rem;
  position: relative;
  line-height: 0.5;
}
.text:nth-of-type(3) {
  color: black;
  font-size: 4.5rem;
  font-family: "Avenir";
  left: -4.0rem;
  letter-spacing: -0.5px;
  line-height: 0.5;
  position: relative;
  top: 2.4rem;
  white-space: nowrap;
}

.driver_window {
  position: absolute;
  top: 18.5rem;
  width: 23.5rem;
  height: 20.5rem;
  border-radius: 2.0rem;
}
.driver_window .drivers_window {
  height: calc(100% - 2px);
  width: 50%;
  left: 50%;
  position: relative;
  border-radius: 2.0rem;
}

.body,
.front_window {
  height: 68rem;
}

.top_thing {
  border-radius: 2rem;
  height: 3.5rem;
  left: -3.0rem;
  position: relative;
  width: 105%;
}

.logo_container {
  width: 56.0rem;
  margin: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  height: 35.0rem;
}

.middle_thing {
  position: relative;
  top: 2.0rem;
  left: 3.0rem;
  height: 2.5rem;
}

.body {
  left: 28.5rem;
  position: absolute;
  background: rgba(100, 100, 100, 0.3);
  width: 151rem;
  border: 1rem solid rgba(100, 100, 100, 0.3);
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}
.body.top_view {
  -webkit-transform: rotateX(90deg) translateY(-70rem);
  -moz-transform: rotateX(90deg) translateY(-70rem);
  -ms-transform: rotateX(90deg) translateY(-70rem);
  -o-transform: rotateX(90deg) translateY(-70rem);
  transform: rotateX(90deg) translateY(-70rem);
}
.body.bottom_view {
  -webkit-transform: rotateX(-90deg) rotateY(0) rotateZ(0) translateX(0) translateY(0) translateZ(70rem);
  -moz-transform: rotateX(-90deg) rotateY(0) rotateZ(0) translateX(0) translateY(0) translateZ(70rem);
  -ms-transform: rotateX(-90deg) rotateY(0) rotateZ(0) translateX(0) translateY(0) translateZ(70rem);
  -o-transform: rotateX(-90deg) rotateY(0) rotateZ(0) translateX(0) translateY(0) translateZ(70rem);
  transform: rotateX(-90deg) rotateY(0) rotateZ(0) translateX(0) translateY(0) translateZ(70rem);
}
.body.driver_side {
  z-index: 0;
  border-left: none;
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0) translateY(0) translateZ(0);
  -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0) translateY(0) translateZ(0);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0) translateY(0) translateZ(0);
  -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0) translateY(0) translateZ(0);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0) translateY(0) translateZ(0);
}
.body.driver_side .driver_window {
  left: 3.0rem;
}
.body.driver_side.inside {
  -webkit-transform: translateZ(-1px);
  -moz-transform: translateZ(-1px);
  -ms-transform: translateZ(-1px);
  -o-transform: translateZ(-1px);
  transform: translateZ(-1px);
}
.body.passenger_side {
  -webkit-transform: rotateY(180deg) translateX(0) translateY(0) translateZ(70rem);
  -moz-transform: rotateY(180deg) translateX(0) translateY(0) translateZ(70rem);
  -ms-transform: rotateY(180deg) translateX(0) translateY(0) translateZ(70rem);
  -o-transform: rotateY(180deg) translateX(0) translateY(0) translateZ(70rem);
  transform: rotateY(180deg) translateX(0) translateY(0) translateZ(70rem);
}
.body.passenger_side .driver_window {
  right: 3.0rem;
}
.body.passenger_side.inside {
  -webkit-transform: rotateY(180deg) translateX(0) translateY(0) translateZ(69.9rem);
  -moz-transform: rotateY(180deg) translateX(0) translateY(0) translateZ(69.9rem);
  -ms-transform: rotateY(180deg) translateX(0) translateY(0) translateZ(69.9rem);
  -o-transform: rotateY(180deg) translateX(0) translateY(0) translateZ(69.9rem);
  transform: rotateY(180deg) translateX(0) translateY(0) translateZ(69.9rem);
}
.body.front_side {
  display: none;
}
.body.rear_side {
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -ms-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
  -webkit-transform: translateX(76rem) rotateY(-90deg);
  -moz-transform: translateX(76rem) rotateY(-90deg);
  -ms-transform: translateX(76rem) rotateY(-90deg);
  -o-transform: translateX(76rem) rotateY(-90deg);
  transform: translateX(76rem) rotateY(-90deg);
  width: 68rem;
}

.engine {
  border-top: 1rem solid #28cc49;
  height: 18rem;
  left: 5.5rem;
  position: absolute;
  top: 39rem;
  width: 17rem;
}
.engine.driver_side {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-top-left-radius: 1rem;
  -webkit-transform: rotateZ(-18deg);
  -moz-transform: rotateZ(-18deg);
  -ms-transform: rotateZ(-18deg);
  -o-transform: rotateZ(-18deg);
  transform: rotateZ(-18deg);
}
.engine.passenger_side {
  border-bottom: 1rem solid #28cc49;
  border: 0;
  -webkit-transform: rotateX(180deg) rotateZ(18deg) translateZ(70rem);
  -moz-transform: rotateX(180deg) rotateZ(18deg) translateZ(70rem);
  -ms-transform: rotateX(180deg) rotateZ(18deg) translateZ(70rem);
  -o-transform: rotateX(180deg) rotateZ(18deg) translateZ(70rem);
  transform: rotateX(180deg) rotateZ(18deg) translateZ(70rem);
}
.engine.top_view {
  border: 1rem solid #28cc49;
  height: 68rem;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  -webkit-transform: rotateX(90deg) rotateY(-18deg) translateX(-2.5rem) translateY(-70rem);
  -moz-transform: rotateX(90deg) rotateY(-18deg) translateX(-2.5rem) translateY(-70rem);
  -ms-transform: rotateX(90deg) rotateY(-18deg) translateX(-2.5rem) translateY(-70rem);
  -o-transform: rotateX(90deg) rotateY(-18deg) translateX(-2.5rem) translateY(-70rem);
  transform: rotateX(90deg) rotateY(-18deg) translateX(-2.5rem) translateY(-70rem);
}

.engine_straight {
  border-radius: 3.2rem 3.2rem 2.5rem 2.5rem;
  height: 18rem;
  left: 12px;
  position: absolute;
  top: 42rem;
  width: 9.9rem;
}
.engine_straight.driver_side {
  top: 43rem;
  border-top: 0;
  border-right: 0;
  border-bottom: 1rem solid black;
  border-left: 1rem solid black;
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0) translateY(0) translateZ(0);
  -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0) translateY(0) translateZ(0);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0) translateY(0) translateZ(0);
  -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0) translateY(0) translateZ(0);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0) translateY(0) translateZ(0);
}
.engine_straight.passenger_side {
  top: 43rem;
  border-top: 1rem solid black;
  border-right: 0;
  border-bottom: 0;
  border-left: 1rem solid black;
  -webkit-transform: rotateX(180deg) rotateZ(0deg) translateZ(68rem);
}
.engine_straight.bottom_side {
  border: 1rem solid #28cc49;
  height: 68rem;
  -webkit-transform: rotateX(90deg) rotateY(0) rotateZ(0) translateY(-70rem) translateZ(-20rem);
  -moz-transform: rotateX(90deg) rotateY(0) rotateZ(0) translateY(-70rem) translateZ(-20rem);
  -ms-transform: rotateX(90deg) rotateY(0) rotateZ(0) translateY(-70rem) translateZ(-20rem);
  -o-transform: rotateX(90deg) rotateY(0) rotateZ(0) translateY(-70rem) translateZ(-20rem);
  transform: rotateX(90deg) rotateY(0) rotateZ(0) translateY(-70rem) translateZ(-20rem);
  -webkit-transform-origin: top;
}
.engine_straight.front_side {
  border: 1rem solid #28cc49;
  -webkit-transform-origin: top;
  width: 68rem;
  -webkit-transform: rotateZ(0deg) rotateY(90deg) translateX(35rem) translateY(0) translateZ(-34rem);
}

/*# sourceMappingURL=truck.css.map */