@import "base";
$orng : #FF6600;
$lb : #9bc8f5;
$db : #6e97cd;
$bg : #e7e7e7;
$fg : #fff;
	  $w : -webkit- ;
	  $m : -moz-;
	  $ms : -ms-;
	  $o : -o-;
@mixin cb($x, $y...) {
	

	  #{$w}#{$x} : #{$y };
	  #{$m}#{$x} : #{$y };
	  #{$ms}#{$x} : #{$y };
	  #{$o}#{$x} : #{$y };

	  #{$x} : #{$y};
}

body{
  background: $bg;
}

@mixin bdTest{
  border: 1px solid black;
  background-color: #ff0000;
}

//yeah
$bdFntFm : Verdana, Arial, Helvetica, sans-serif;
/*body font size*/
$bdFntSz: 11px;
/*body font color*/
$bdFntCol: #333333;

@mixin bdFnt {
  font-family: $bdFntFm;
  font-size: $bdFntSz;
  color: $bdFntCol;
  line-height: 16px;
}


/*header font size*/
$hdFntSz : 16px;
/*header font family*/
$hdFntFm :  Arial, Helvetica, sans-serif;
/*header font color*/
$hdFntCol : $orng ;
/*header font weight*/
$hdFntWt : bold;


@mixin hdFnt{
  font-family: $hdFntFm;
  font-size: $hdFntSz;
  color: $hdFntCol;
  line-height: 24px;
  font-weight: $hdFntWt;
}


body{

}
#bgh{
  position:absolute;
  width: 1200px;
  display:none;
}
a{
  text-decoration:none;

}
#wrapper, footer{
//  min-width: 784px;
//  max-width: 960px;
  margin:auto;
  padding: 10px;
}
#wrapper{
//background: $fg;
	min-width: 1300px;
	max-width: 1500px;
	@include cb(transform, rotate(-43deg));
	margin:auto;
	position: relative;


}
#wrapperer{

position:relative;

}
header{
  background: $lb;
  max-width:750px;
  img{
    max-width: 750px;
    height: auto;
    margin:0px auto;
  }
  hgroup{
    position:absolute;
    top:0;
    visibility:hidden;
  }
  nav{
    background: $lb;
    margin:auto;
    ul{
      margin:0px auto;
      padding:0px;
      width:691px;
      li:hover{
        background:$db;
      }
      li{
        float: left;
        margin: 0px;
        border-right: 1px solid $db;
        width: 114px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        background: $lb;
        font-family: "Avenir", sans-serif ;
        font-weight: bold;
        font-variant: small-caps;
        a{
        color: #255FBD;
        }
      }
      li:first-of-type{
        border-left: 1px solid $db;
      }
    }

  }
}

article{
	float: left;
	@include cb(transform,  rotate(-49deg) translate(-70px, 560px) );
	
	left: 95px;
	font-size: 11px;
	color: #333333;
	line-height: 16px;
	z-index: 10;
	position: relative;

	div:nth-of-type(1){
		/*
		    */
		background: #f5f5f5;
		width: 484px;
		height: 405px;
		padding: 220px 30px 16px 20px;
		border-bottom-left-radius: 179px;
		border-bottom-right-radius: 324px;
		border-top-right-radius: 400px;
		border-bottom-right-radius: 324px;
		border-top-left-radius: 400px;
		@include cb(transform,  translate(159px, 30px) );
		



/*

    background: #f5f5f5;
    width: 484px;
    height: 405px;
    padding: 220px 30px 16px 20px;
    -webkit-transform: translate(162px, 15px);
    border-bottom-left-radius: 179px;
    border-bottom-right-radius: 324px;
    border-top-left-radius: 400px;




*/





    h1, p, span, div{
      max-width:400px;
      margin:auto;
      display:block;
      visibility:hidden;
    }

  }
  div:nth-of-type(2){
    max-width: 300px;
    background: #f5f5f5;
    @include cb(transform, rotate(15deg) translate(160px, 0px) );
    padding:20px;
      h1, p, span, div{
      max-width:400px;
      margin:auto;
      display:block;
      visibility:hidden;
    }
  }
div:nth-child(3) {
width: 263px;
height: 409px;
background: #f5f5f5;
position: absolute;
@include cb(transform, rotate(27deg) skew(0deg, -15deg) translate(-93px, 88px) );

border-radius: 900px 300px 999px 83px;
left: 638px;
top: 260px;
z-index: 0;
}
 div:nth-child(4) {
width: 100px;
height: 300px;
background: #f5f5f5;
position: absolute;
top: 0px;
@include cb(transform, rotate(57deg) translate(-100px, 28px));
border-radius: 900px 300px 999px 83px;
left: 825px;
top: 260px;
z-index: -1;
}
 div:nth-child(5) {
background: #f5f5f5;
width: 300px;
height: 378px;
position: absolute;
z-index: -1;
@include cb(transform, rotate(54deg) translate(-57px, -67px));
top: 490px;
left: 300px;
border-radius: 100px;
}

 div:nth-child(6) {
width: 100px;
height: 300px;
position: absolute;
@include cb(transform, rotate(74deg) translate(31px, -276px));
border-radius: 900px 300px 999px 83px;
left: 0;
top: 0;
background: #f5f5f5;
z-index: -2;
}

div:nth-child(7) {
width: 100px;
height: 300px;
position: absolute;
@include cb(transform, rotate(74deg) translate(31px, -276px));
border-radius: 900px 300px 999px 83px;
left: 0;
top: 0;
background: red;
z-index: 0;
display:none;
}

div:nth-child(8) {
position: absolute;
left: 200px;
top: 230px;
@include cb(transform, rotate(93deg));
width: 400px;
}
div:nth-child(9) {
position: absolute;
width: 200px;
@include cb(transform, rotate(104deg) translate(-286px));
width: 350px;
right: 88px;
}




  @include bdFnt;
  h1{
   @include hdFnt;
  }

}
#rsb{
  position: relative;
  float: left;
  nav{
    ul{

      padding:0px;
      margin:0px;
      li{
        z-index:0;
        height: 90px;
        display:table;
        background: #f5f5f5;
        width: 100%;
        margin:-3px auto;

        position:relative;
        width:250px;
        visibility:hidden;
        a{
          display:table-cell;
          vertical-align:middle;
          color:#aaa;
          font: normal small-caps 700 30px "Avenir", "Helvetica Neue", "Helvetica", sans-serif;
          line-height:25px;
          text-decoration:none;
          padding-left:20px;
        }
     }
        li:first-child{
          z-index: 1;
          @include cb(transform, rotate(-90deg) translate(-403px, 88px));
          border-top-right-radius: 70px;
          border-bottom-right-radius: 70px;
          width: 720px;
          height: 133px;
          visibility:visible;
            a{
            width:100%;
            height:100%;
            span{
             float:right;
             margin:0px 40px;
             @include cb(transform, rotate(90deg));
            }
          }
        }
        li:nth-child(2){
          @include cb(transform, rotate(50deg) translate(-200px, 295px));
          z-index: 2;
          width: 550px;
          border-top-left-radius: 60px;
          border-bottom-left-radius: 60px;
          height: 120px;
          visibility: visible;
          a{
            padding-left:100px;
          }
        }
        li:nth-child(3){
          @include cb(transform, rotate(47deg) translate(-388px, 348px));
          z-index: 2;
          width: 600px;
          border-top-left-radius: 70px;
          border-bottom-left-radius: 70px;
          height: 140px;
          visibility: visible;
          a{
            padding-left:100px;
          }
        }

        li:nth-child(4){
          @include cb(transform, rotate(41deg) translate(-492px, 368px));
          z-index: 2;
          width: 530px;
          border-top-left-radius: 60px;
          border-bottom-left-radius: 60px;
          visibility: visible;
          height: 120px;
          a{
            padding-left:100px;
          }
        }

        li:nth-child(5){
@include cb(transform, rotate(34deg) translate(-466px, 368px));
z-index: 2;
width: 500px;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
visibility: visible;
height: 110px;
          a{
            padding-left:100px;
          }
        }


    }
  }

}


