
form.loginform.reality{
	padding: 38px 0px;
	background-color: #333;
}

legend.credentials.reality {
	font-size: 18px;
	font-family: "Helvetica Neue", sans-serif;
	letter-spacing: 0.7px;
	padding-bottom: 22px;
}
fieldset.loginform.reality{
	width: 372px;
}
 .credentials-input.reality, .specificity-input.reality{
	width: 350px;
}
input.credentials-input.reality{
	height: 39px;
	margin-bottom: 20px;
	border: 2px solid black;
	padding-left: 18px;
	border-radius: 5px;
}
input.credentials-input.reality:focus, button.loginform.reality:focus{
	outline: none;
}
button.loginform.reality{
	height: 44px;
	width: 368px;
	font-size: 15px;
	background-color: #CD5C45;
	box-shadow: 1px 1px 3px 1px #1E1E1E;
}
.lte-ie9{
	button.loginform.reality{
		margin-left:75px;
		width: 370px;
		margin-right: 0px;
	}
	.credentials label.reality{
		line-height: 44px;
		left: 20px;
	}
	.outdated-warning{
		margin: auto;
		width: 500px;
	}

}

@include keyframes(animateCitation){
	0% {
		background: inherit;
		padding: inherit;
		border-radius: none;
		color: black;
		box-shadow: none;
	}
	50%{
		background: #6AE9DC;
		padding: 10px;
		border-radius: 2px;
		color:black;
		box-shadow: none;
	}
	75%{
		box-shadow: 0px 0px 4px 2px #333;
		color:black;
		padding: 11px;
	}
	100% {
		background: #6AE9DC;
		padding: 10px;
		border-radius: 2px;
		color: #FFF;
		box-shadow: 0px 0px 4px -1px #000;
	}
}
@include keyframes(bs-down){
	0%{
		box-shadow: 0px 0px 4px -1px #000;
		background: #6AE9DC;
		padding: 10px;
		border-radius: 2px;
		color: #FFF;
	}
	100%{
		box-shadow: 0px 0px 0px 0px #000;
		background: #6AE9DC;
		padding: 10px;
		border-radius: 2px;
		color: #FFF;
	}
}
.spec{
	font-style: normal;
	@include animation(animateCitation 2s);
	@include animation-fill-mode(both);
	&:hover{
		cursor: pointer;
	}
}



