body {
	margin: 0;
	padding: 0;
	border: 0;			/* This removes the border around the viewport in old versions of IE */
	width: 100%;
	background: #fff;
}

#logo {
	float: left;
	margin: 0;
	padding: 13px 0 0 0;
}

#logo:hover {
	background-color: #fff;
}

/* column container */
.container {
	position: relative;		/* This fixes the IE7 overflow hidden bug */
	clear: both;
	width: 1000px;	
	margin: 0 auto;		
	overflow: hidden;		/* This chops off any overhanging divs */
	z-index: 1;
}

.colleft {
	float: left;
	width: 1000px;
	position: relative;
	/* background-image: url('../images/backgrounds/testing/blue-left-stripe.png'); */
}

.col1 {
	float: left;
	position: relative;
	padding: 0 0 1em 0;
	overflow: hidden;
	/* background-color: #ddf; */
}

.col2 {
	float: left;
	position: relative;
	padding: 0 0px 1em 0;
	overflow: hidden;
	/* background-color: #dfd; */
}

#col2BackgroundScreen {     /*  sits at top of scholar margin to 'white-out top' of scholar margin's bg color  */
	display: block;
	width: 180px;
	height: 116px;
	background-color: #fff;
	margin-left: 70px;
	position: relative;
}

/* 2-column layout settings */
.twoColumnLayout {
	/* background-image: url('../images/backgrounds/testing/green-right-stripe.png'); */            /* right column background */
	background-image: url('scholar-margin-bg.jpg');
	background-position: 820px 0px;  /* repeat-y will 'wrap' back to top-- you can't start the repeating at, say 125px down from top... */
	background-repeat: repeat-y;
}

.twoColumnLayout .colleft {
	right: 250px;			/* right column width */
     						/* left column background */
}

.twoColumnLayout .col1 {
	width: 750px;			/* left column content width (left column width minus left and right padding) */
	left: 250px;			/* (right column width) plus (left column left padding) */
}

.twoColumnLayout .col2 {
	width: 250px;			/* right column content width (right column width minus left and right padding) */
	left: 250px;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
}

/* Footer styles */
#footerContainer {
	clear: both;
	float: left;
	width: 100%;
  	border-top: 5px solid #173443;
	background-color: #e4eff5;
	text-align: center;
}

#footerContent {
	display: block;
	width: 1000px;
	margin: 0 auto 0 auto;
}

#footerContent p {
	padding: .5em 0 .6em 0;
	margin: 0;
}



